<template>
  <section>
    <accountant></accountant>
  </section>
</template>
<script>
import accountant from "../Page4";
import store from "../../../components/store";
// 财务人员
export default {
  components: { accountant },
  beforeCreate() {
    store.session.set("userEditKey", {
      add: "accountantadd",
      load: "accountantload",
      updata: "accountantupdate",
      delete: "accountantdelete"
    })

  }
}
</script>
