<template>
  <section>
    <docimasymanager></docimasymanager>
  </section>
</template>
<script>
import docimasymanager from "../Page4";
import store from "../../../components/store";
// 检定管理员
export default {
  components: { docimasymanager },
  beforeCreate() {
    store.session.set("userEditKey", {
      add: "docimasymanageradd",
      load: "docimasymanagerload",
      updata: "docimasymanagerupdate",
      delete: "docimasymanagerdelete"
    })

  }
}
</script>
