<template>
  <section>
    <repairrecordermanager></repairrecordermanager>
  </section>
</template>
<script>
import repairrecordermanager from "../Page4";
import store from "../../../components/store";
// 维修监督管理员
export default {
  components: { repairrecordermanager },
  beforeCreate() {
    store.session.set("userEditKey", {
      add: "repairrecordermanageradd",
      load: "repairrecordermanagerload",
      updata: "repairrecordermanagerupdate",
      delete: "repairrecordermanagerdelete"
    })

  }
}
</script>
