<template>
  <section>
    <repairman></repairman>
  </section>
</template>
<script>
import repairman from "../Page4";
import store from "../../../components/store";
// 维修员
export default {
  components: { repairman },
  beforeCreate() {
    store.session.set("userEditKey", {
      add: "repairmanadd",
      load: "repairmanload",
      updata: "repairmanupdate",
      delete: "repairmandelete"
    })

  }
}
</script>
