<template>
  <section>
    <personnel></personnel>
  </section>
</template>
<script>
import personnel from "../Page4";
import store from "../../../components/store";
// 维修管理员
export default {
  components: { personnel },
  beforeCreate() {
    store.session.set("userEditKey", {
      add: "repairmanageradd",
      load: "repairmanagerload",
      updata: "repairmanagerupdate",
      delete: "repairmanagerdelete"
    })

  }
}
</script>
