<template>
  <section>
    <selsesman></selsesman>
  </section>
</template>
<script>
import selsesman from "../Page4";
import store from "../../../components/store";
// 营销员
export default {
  components: { selsesman },
  beforeCreate() {
    store.session.set("userEditKey", {
      add: "selsesmanadd",
      load: "selsesmanload",
      updata: "selsesmanupdate",
      delete: "selsesmandelete"
    })

  }
}
</script>
