<template>
  <section>
    page5...
    <el-button type="primary" @click="handleAdd">新增</el-button>
  </section>
</template>
<script>
export default {
  methods: {
    handleAdd() {
      console.log(this.publicdata.urllist.masterpage, "获取数据")
    }
  }
}
</script>
