<template>
  <div id="personnel">
    <!--工具条-->
    <el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
      <el-form :inline="true">
        <el-form-item v-show="!dialogVisible">
          <el-button type="primary" @click="handleAdd()">新增</el-button>
        </el-form-item>
      </el-form>
    </el-col>

    <template>
      <el-table
        v-loading="loading"
        v-show="!dialogVisible"
        :data="this.tableData"
        highlight-current-row
        border
        size="mini"
        style="width:100%;"
      >
        <el-table-column type="index"></el-table-column>
        <el-table-column label="操作" width="150">
          <template slot-scope="scope">
            <!-- <el-button type="text" size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button> -->
            <el-button size="mini" type="danger" @click="deleteData(scope.$index, scope.row)">删除</el-button>
            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
          </template>
        </el-table-column>
        <template v-for="(item,index) in this.tabHead">
          <el-table-column :prop="item.prop" :label="item.label" sortable></el-table-column>
        </template>
      </el-table>
    </template>

    <!--新增界面-->
    <div style="text-align:center;">
      <el-form
        v-show="dialogVisible"
        :model="addForm"
        :rules="rules"
        label-width="80px"
        ref="addForm"
        style="margin-left: 200px;margin-right: 200px;"
      >
        <el-form-item label="账户" prop="name">
          <el-input v-model="addForm.name" auto-complete="off" clearable :disabled="nameEditType"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="pass">
          <el-input v-model="addForm.pass" clearable></el-input>
        </el-form-item>
        <el-form-item v-show="telShow" label="电话号码" prop="tel">
          <el-input v-model="addForm.tel"></el-input>
        </el-form-item>
        <el-form-item v-show="cityShow" label="分公司">
          <el-select v-model="addForm.city" placeholder="请选择分公司" style="width:100%;">
            <el-option v-for="(item,index) in cityList" :key="index" :label="item" :value="item"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <!-- <el-button type="danger" @click="deleteData()">删 除</el-button> -->
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addData('addForm')" :disabled="saveOpen">确 定</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

  </div>
</template>
<script>
import axios from "axios";
import store from "../../components/store";
export default {
  data() {
    // var checkPhone = (rule, value, callback) => {
    //   if (!value) {
    //     return callback(new Error("手机号不能为空"));
    //   } else {
    //     const reg = /^1[3|4|5|7|8][0-9]\d{8}$/;
    //     console.log(reg.test(value));
    //     if (reg.test(value)) {
    //       callback();
    //     } else {
    //       return callback(new Error("请输入正确的手机号"));
    //     }
    //   }
    // };
    return {
      cityShow: false,
      telShow: false,
      dialogVisible: false,
      nameEditType: false,
      loading: false,
      saveOpen: false,
      key: "",
      addUserType: "",
      loadUserType: "",
      updataUserType: "",
      deleteUserType: "",
      //新增界面数据
      addForm: {
        name: "",
        city: "",
        pass: "",
        tel: ""
      },
      tabHead: [],
      tableData: [],
      cityList: [],
      rules: {
        name: [
          { required: true, message: "请输入账户名", trigger: "blur" },
          { min: 1, max: 20, message: "长度在 1 到 20 个字符", trigger: "blur" }
        ],
        pass: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 1, max: 20, message: "长度在 1 到 20 个字符", trigger: "blur" }
        ],
        // tel: [{ validator: checkPhone, trigger: "blur" }]
      }
    };
  },
  methods: {
    handleClick(row) {
      console.log(row);
    },
    //显示新增界面
    handleAdd() {
      this.dialogVisible = true;
      this.nameEditType = false;
      this.key = this.addUserType;
      this.addForm = {
        name: "",
        city: "",
        pass: "",
        tel: ""
      };
    },
    //显示编辑界面
    handleEdit: function (index, row) {
      this.saveOpen = false;
      this.dialogVisible = true;
      this.key = this.updataUserType;

      this.nameEditType = true;
      // 获取行数据对象
      this.addForm = Object.assign({}, row);
    },
    // 关闭弹出框
    handleClose() {
      // done();
      this.dialogVisible = true;
    },
    showMessage(duration, message, type) {
      console.log(message);
      if (duration == "") {
        duration = 5000;
      }
      this.$message({
        duration: duration,
        message: message,
        type: type
      });
    },
    // 将请求参数转换成formdata形式
    transformRequest(data) {
      let ret = "";
      for (let i in data) {
        ret += encodeURIComponent(i) + "=" + encodeURIComponent(data[i]) + "&";
      }
      return ret;
    },
    deleteData(index, row) {
      // 删除用户
      this.$confirm("此操作将永久删除该用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.key = this.deleteUserType;
          this.addForm = Object.assign({}, row);
          this.saveData();
        })
        .catch(() => {
          this.showMessage(1000, "已取消删除", "info");
        });
    },
    addData(formName) {

      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.saveOpen = true;
          this.saveData();
        } else {
          setTimeout(() => {
            var isError = document.getElementsByClassName("is-error");
            isError[0].querySelector('input').focus();
          }, 1)
          return false;
        }
      });
    },
    // 添加新用户
    saveData() {
      let newData = {
        name: this.addForm.name.trim(),
        pass: this.addForm.pass.trim()
      };
      if (
        this.addUserType === "repairmanadd" ||
        this.addUserType === "accountantadd" ||
        this.addUserType === "selsesmanadd"
      ) {
        newData.city = this.addForm.city;
        if (this.addUserType === "selsesmanadd") {
          newData.tel = this.addForm.tel;
        }
      }

      let data = {
        modelstr: JSON.stringify(newData)
      };
      let url = this.publicdata.urllist.adduser + this.key;
      console.log("data", data, "url", url);

      axios
        .post(url, this.publicdata.transformRequest(data), {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        })
        .then(response => {
          if (response.data.indexOf("成功") != -1) {
            this.showMessage(1500, "成功", "success");
            this.dialogVisible = false;
            this.saveOpen = false;
            this.httpGetUserList();
          } else {
            this.showMessage(2000, response.data, "error");
          }
        })
        .catch(error => {
          this.showMessage(2000, "失败！", "error");
          this.saveOpen = false;
          console.log(error);
        });
    },
    // 请求人员列表
    httpGetUserList() {
      this.loading = true;
      let url = this.publicdata.urllist.adduser + this.loadUserType;
      console.log("url", url);
      axios
        .get(url)
        .then(response => {
          this.loading = false;
          // console.log("dataquery表格数据", response);
          this.tableData = response.data.tableData;
          this.tabHead = response.data.tabHead;
        })
        .catch(error => {
          console.log(error);
          this.showMessage(2000, "请求数据失败！", "error");
        });
    },
    //  获取存储中的设置设置
    setting() {
      let userEditKey = store.session.get("userEditKey");
      this.addUserType = userEditKey.add;
      this.loadUserType = userEditKey.load;
      this.updataUserType = userEditKey.updata;
      this.deleteUserType = userEditKey.delete;
      this.cityList = store.session.get("cityList").data;

      if (
        this.addUserType === "repairmanadd" ||
        this.addUserType === "accountantadd" ||
        this.addUserType === "selsesmanadd"
      ) {
        this.cityShow = true;
        if (this.addUserType === "selsesmanadd") {
          this.telShow = true;
        }
      } else {
        this.cityShow = false;
      }
    }
  },
  mounted() {
    this.setting();
    this.httpGetUserList();
  }
};
</script>

<style lang="scss">
.el-dialog__header {
  text-align: center;
}
</style>
