<template>
  <div>
    <el-form :inline="true">
      <el-form-item v-show="belong">地区：{{nowcity}}</el-form-item>
      <el-form-item label="查询地区：" v-show="adminbelong">
        <el-select
          v-model="cityll"
          filterable
          allow-create
          default-first-option
          placeholder="请选择"
          style="width:100px"
        >
          <el-option
            v-for="item in belongvalue"
            :key="item.name"
            :label="item.label"
            :value="item.label"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input
          v-model="fixlistno"
          placeholder="保修卡号"
          style="width:120px"
          @input="changeInput($event)"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-input
          v-model="keyword"
          placeholder="关键字"
          style="width:120px"
          @input="changeInput($event)"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" size="small" @click="searchfix">查询</el-button>
      </el-form-item>
      <!-- <el-form-item>
        <el-button type="primary" size="small" @click="clearfix">清空</el-button>
      </el-form-item>-->
    </el-form>

    <el-form :inline="true">
      <el-form-item label="仪器名称">
        <el-input v-model="fixword.instrumentName" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item label="型号">
        <el-input v-model="fixword.type" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="购买单位">
        <el-input style="width:300px" v-model="fixword.buyer" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true">
      <el-form-item label="联系人">
        <el-input v-model="fixword.linkman" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item label="联系电话">
        <el-input v-model="fixword.phone" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="机身号码">
        <el-input style="width:300px" v-model="fixword.fuselageNo" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true" :model="fixword" ref="fixword">
      <el-form-item label="保修卡号">
        <el-input v-model="fixword.cardNo" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item label="销售日期">
        <el-date-picker
          v-model="fixword.solddate"
          type="date"
          placeholder="选择日期"
          @input="changeInput($event)"
        ></el-date-picker>
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="备注">
        <el-input style="width:300px" v-model="fixword.remark" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true">
      <el-form-item label="截止日期">
        <el-date-picker
          v-model="fixword.abortdate"
          type="date"
          placeholder="选择日期"
          @input="changeInput($event)"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="财务记账凭证号">
        <el-input v-model="fixword.financialAccountingVoucherNumber" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true">
      <el-form-item label="入档日期">
        <el-date-picker
          v-model="fixword.recorddate"
          type="date"
          placeholder="选择日期"
          @input="changeInput($event)"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="销售单位">
        <el-input v-model="fixword.saleunit" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="销售人">
        <el-input v-model="fixword.saleman" style="width:120px" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="fixsavecardVisible = true">添加记录</el-button>
        <el-button type="primary" @click="savefix">保存记录</el-button>
        <div v-if="fixsavecardVisible">
          <el-dialog
            title="新增卡"
            :visible.sync="fixsavecardVisible"
            width="40%"
            :modal-append-to-body="false"
          >
            <fixsaveCard
              :cityll="cityll"
              :nowcity="nowcity"
              :dialogvisible.sync="fixsavecardVisible"
            ></fixsaveCard>
          </el-dialog>
        </div>
        <el-button icon="el-icon-caret-left" circle @click="relookbutton('last')"></el-button>
        <el-button icon="el-icon-caret-right" circle @click="relookbutton('next')"></el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import Axios from "axios";
import fixsaveCard from "./keepfixdialog";
export default {
  components: { fixsaveCard },
  props: {
    jsonData: {},
    cityname: "",
    keepfixvisible: { type: Boolean, default: false }
  },
  data() {
    return {
      fixsavecardVisible: false,
      adminbelong: Boolean,
      belong: Boolean,
      nowcity: JSON.parse(sessionStorage.getItem("userData")).city,
      personidcard: sessionStorage.getItem("userType"),
      fixlistno: "",
      keyword: "",
      cityll: this.cityname,
      belongvalue: {},
      fixword: {
        instrumentName: "",
        type: "",
        fuselageNo: "",
        cardNo: "",
        solddate: "",
        abortdate: this.publicdata.getnowtime(),
        recorddate: "",
        buyer: "",
        linkman: "",
        phone: "",
        saleman: "",
        remark: "",
        financialAccountingVoucherNumber: "",
        saleunit: ""
      }
    };
  },
  methods: {
    changeInput(e) {
      this.$forceUpdate();
      console.log("保修卡进行强刷");
    },
    getdata() {
      let arr = [];
      let citylist = JSON.parse(sessionStorage.getItem("cityList")).data;
      for (let i in citylist) {
        arr.push({ name: i, label: citylist[i] });
      }
      this.belongvalue = arr;
      for (let j in this.jsonData) {
        for (let k in this.fixword) {
          if (j == k) {
            this.fixword[k] = this.jsonData[j];
          }
        }
      }
      this.adminbelong = this.nowcity == "" ? true : false;
      this.belong = this.nowcity == "" ? false : true;
      if (this.checknull(this.jsonData)) {
        this.lastpage();
      }
    },
    lastpage() {
      let city = this.nowcity == "" ? this.cityll : this.nowcity;
      let urltexure =
        this.publicdata.urllist.keepFix + "querylastrecord" + "&city=" + city;
      Axios.post(urltexure, "", {
        headers: { "Content-Type": "application/x-www-form-urlencoded" }
      })
        .then(response => {
          console.log(response);
          let formdata = response.data.tableData[0];
          for (let i in formdata) {
            for (let j in this.fixword) {
              // if (this.jsonData == undefined) {
              if (i == j) {
                this.fixword[j] = formdata[i];
              }
              // }
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    relookbutton(message) {
      let urlForm = this.publicdata.urllist.keepFix;
      let ifnext = message == "next" ? "next" : "last";
      let city = this.nowcity == "" ? this.cityll : this.nowcity;
      let buttonsearchUrl = urlForm + "queryneighbor" + "&city=" + city;
      let urlData = {
        cardno: this.fixword.cardNo,
        recorddate: this.fixword.recorddate,
        neighbordirection: ifnext
      };
      Axios.post(buttonsearchUrl, this.publicdata.transformRequest(urlData), {
        headers: { "Content-Type": "application/x-www-form-urlencoded" }
      })
        .then(response => {
          console.log(response);
          // for (let k in this.fixword) {
          //   this.fixword[k] = "";
          // }
          let formdata = response.data.tableData[0];
          for (let i in formdata) {
            for (let j in this.fixword) {
              if (i == j) {
                this.fixword[j] = formdata[i];
              }
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    checknull(num) {
      if (num == null || num == undefined || num == "" || num == " ") {
        return true;
      }
    },
    searchfix() {
      let searchworld = { cardno: this.fixlistno, keyword: this.keyword };
      let city = this.nowcity == "" ? this.cityll : this.nowcity;
      let searchurl =
        this.publicdata.urllist.keepFix + "query" + "&city=" + city;
      if (this.checknull(this.fixlistno) && this.checknull(this.keyword)) {
        this.lastpage();
      } else {
        Axios.post(searchurl, this.publicdata.transformRequest(searchworld), {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        })
          .then(response => {
            let source = response.data.tableData[0];
            if (source != undefined) {
              for (let i in source) {
                for (let j in this.fixword)
                  if (i === j) {
                    source[i] =
                      source[i] == "1899/12/30 0:00:00" ? "" : source[i];
                    this.fixword[j] = source[i];
                  }
              }
            } else {
              this.$alert("找不到内容", "错误", {
                confirmButtonText: "确定"
              });
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    // clearfix() {
    //   for (let i in this.fixword) {
    //     this.fixword[i] = "";
    //     this.fixword.abortdate = this.publicdata.getnowtime();
    //   }
    // },
    addfix() {
      let addworld = { modelstr: JSON.stringify(this.fixword) };
      let city = this.nowcity == "" ? this.cityll : this.nowcity;
      let addurl = this.publicdata.urllist.keepFix + "add" + "&city=" + city;
      Axios.post(addurl, this.publicdata.transformRequest(addworld), {
        headers: { "Content-Type": "application/x-www-form-urlencoded" }
      })
        .then(response => {
          console.log(response);
          this.$emit("update:keepfixvisible", false);
          this.$message({
            message: response.data,
            type: "success"
          });
        })
        .catch(error => {
          console.log(err);
        });
    },
    savefix() {
      let updateworld = { modelstr: JSON.stringify(this.fixword) };
      let city = this.nowcity == "" ? this.cityll : this.nowcity;
      let updateurl =
        this.publicdata.urllist.keepFix + "update" + "&city=" + city;
      Axios.post(updateurl, this.publicdata.transformRequest(updateworld), {
        headers: { "Content-Type": "application/x-www-form-urlencoded" }
      })
        .then(response => {
          console.log(response);
          this.$emit("update:keepfixvisible", false);
          this.$message({
            message: response.data,
            type: "success"
          });
        })
        .catch(error => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.getdata();
  }
};
</script>

