<template>
  <div>
    <el-form :inline="true">
      <el-form-item label="仪器名称">
        <el-input v-model="fixword.instrumentName" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item label="型号">
        <el-input v-model="fixword.type" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="购买单位">
        <el-input style="width:300px" v-model="fixword.buyer" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true">
      <el-form-item label="联系人">
        <el-input v-model="fixword.linkman" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item label="联系电话">
        <el-input v-model="fixword.phone" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="机身号码">
        <el-input style="width:300px" v-model="fixword.fuselageNo" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true" :model="fixword" ref="fixword">
      <el-form-item label="保修卡号">
        <el-input v-model="fixword.cardNo" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item label="销售日期">
        <el-date-picker
          v-model="fixword.solddate"
          type="date"
          placeholder="选择日期"
          @input="changeInput($event)"
        ></el-date-picker>
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="备注">
        <el-input style="width:300px" v-model="fixword.remark" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true">
      <el-form-item label="截止日期">
        <el-date-picker
          v-model="fixword.abortdate"
          type="date"
          placeholder="选择日期"
          @input="changeInput($event)"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="财务记账凭证号">
        <el-input v-model="fixword.financialAccountingVoucherNumber" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form :inline="true">
      <el-form-item label="入档日期">
        <el-date-picker
          v-model="fixword.recorddate"
          type="date"
          placeholder="选择日期"
          @input="changeInput($event)"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="销售单位">
        <el-input v-model="fixword.saleunit" @input="changeInput($event)" />
      </el-form-item>
    </el-form>

    <el-form>
      <el-form-item label="销售人">
        <el-input v-model="fixword.saleman" style="width:120px" @input="changeInput($event)" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="addfix">保存</el-button>
        <!-- <el-button type="primary" @click="savefix">保存记录</el-button> -->
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import Axios from "axios";
export default {
  props: {
    cityll: "",
    nowcity: "",
    dialogvisible: { type: Boolean, default: false }
  },
  data() {
    return {
      adminbelong: Boolean,
      belong: Boolean,
      nowcitylist: this.nowcity,
      personidcard: sessionStorage.getItem("userType"),
      fixlistno: "",
      keyword: "",
      citylllist: this.cityll,
      belongvalue: {},
      fixword: {
        instrumentName: "",
        type: "",
        fuselageNo: "",
        cardNo: "",
        solddate: "",
        abortdate: this.publicdata.getnowtime(),
        recorddate: "",
        buyer: "",
        linkman: "",
        phone: "",
        saleman: "",
        remark: "",
        financialAccountingVoucherNumber: "",
        saleunit: ""
      }
    };
  },
  methods: {
    checknull(num) {
      if (num == null || num == undefined || num == "" || num == " ") {
        return true;
      }
    },
    changeInput(e) {
      this.$forceUpdate();
      console.log("保修卡进行强刷");
    },
    addfix() {
      let addworld = { modelstr: JSON.stringify(this.fixword) };
      let city = this.nowcitylist == "" ? this.citylllist : this.nowcitylist;
      let addurl = this.publicdata.urllist.keepFix + "add" + "&city=" + city;
      Axios.post(addurl, this.publicdata.transformRequest(addworld), {
        headers: { "Content-Type": "application/x-www-form-urlencoded" }
      })
        .then(response => {
          console.log(response);
          this.$emit("update:keepfixvisible", false);
          this.$emit("update:dialogvisible", false);
          this.$message({
            message: response.data,
            type: "success"
          });
        })
        .catch(error => {
          console.log(err);
        });
    }
  }
};
</script>

