<template>
  <p class="page-container">404 page not found66</p>
</template>

<style lang="scss" scoped>
.page-container {
  font-size: 20px;
  text-align: center;
  color: rgb(192, 204, 218);
}
</style>