<template>
  <div>
    <el-table
      :data="formdata.slice((currentPage - 1)* pagesize , currentPage*pagesize)"
      style="width: 100%"
    >
      <template v-for="(item,index) in formhead">
        <el-table-column :prop="item.prop" :label="item.label" width="100" sortable align="center"></el-table-column>
      </template>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[5, 10, 20, 40]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="this.formdata.length"
    ></el-pagination>
  </div>
</template>
<script>
export default {
  props: { formdata: "", formhead: "" },
  data() {
    return {
      pagesize: 5,
      currentPage: 1
    };
  },
  methods: {
    handleSizeChange(size) {
      //页码控制
      this.pagesize = size;
      // this.$emit("pagesize", this.pagesize);
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      // this.$emit("currentPage", this.currentPage);
    }
  }
};
</script>

