<template>
  <el-form
    :model="ruleForm2"
    :rules="rules2"
    ref="ruleForm2"
    label-position="left"
    label-width="0px"
    class="demo-ruleForm login-container"
  >
    <h3 class="title">广分维修系统登录</h3>
    <el-form-item prop="account">
      <el-input
        type="text"
        v-model="ruleForm2.account"
        auto-complete="off"
        placeholder="账号"
        clearable
      ></el-input>
    </el-form-item>
    <el-form-item prop="checkPass">
      <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off" placeholder="密码"></el-input>
    </el-form-item>
    <!-- <el-form-item>
      <el-select v-model="ruleForm2.city" clearable placeholder="请选择分公司" style="width:100%;">
        <el-option v-for="(item,index) in cityList" :key="index" :label="item" :value="item"></el-option>
      </el-select>
    </el-form-item> -->
    <el-checkbox v-model="checked" checked class="remember">记住密码</el-checkbox>
    <el-form-item style="width:100%;">
      <el-button
        type="primary"
        style="width:100%;"
        @click.native.prevent="handleSubmit2"
        :loading="logining"
      >登录</el-button>
      <!--<el-button @click.native.prevent="handleReset2">重置</el-button>-->
    </el-form-item>
  </el-form>
</template>

<script>
import { requestLogin } from "../api/api";
//import NProgress from 'nprogress'
import axios from "axios";
import store from "../components/store";
export default {
  data() {
    return {
      logining: false,
      ruleForm2: {
        account: "",
        checkPass: "",
        city: ""
      },
      checked: true,
      cityList: [],
      rules2: {
        account: [
          { required: true, message: "请输入账号", trigger: "blur" }
        ],
        checkPass: [
          { required: true, message: "请输入密码", trigger: "blur" }
        ]
      }
    };
  },
  methods: {
    handleReset2() {
      this.$refs.ruleForm2.resetFields();
    },
    showMessage(duration, message, type) {
      console.log(message);
      if (duration == "") {
        duration = 5000;
      }
      this.$message({
        duration: duration,
        message: message,
        type: type,
        center: true
      });
    },
    handleSubmit2(ev) {
      var _this = this;
      this.$refs.ruleForm2.validate(valid => {
        if (valid) {
          this.logining = true;

          var loginParams = {
            name: this.ruleForm2.account,
            pass: this.ruleForm2.checkPass,
            city: this.ruleForm2.city
          };
          let url = this.publicdata.urllist.adduser + "login";
          axios.post(url, this.publicdata.transformRequest(loginParams), {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          }).then(response => {
            // console.log("登陆功能测试", response);
            if (response.data.role == "_other") {
              // console.log("登录失败!!!");
              this.showMessage(2000, "登录失败!请确认账号密码 ", "error");
              this.logining = false;
            } else {
              let testdata = {
                id: 1,
                username: this.ruleForm2.account,
                avatar:
                  "https://raw.githubusercontent.com/taylorchen709/markdown-images/master/vueadmin/user.png",
                name: "Lh"
              };
              // 存储关键数据
              store.local.set("userLogin", {
                account: this.ruleForm2.account,
                city: this.ruleForm2.city
              });
              store.session.set("userData", response.data);
              store.session.set("userType", response.data.role);
              store.session.set("user", testdata);
              store.session.set("reloadno", 1);
              this.$router.push({ path: "/table" });
            }
          }).catch(error => {
            console.log(error);
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    getCompanyList() {
      // 获取分公司列表
      let url = this.publicdata.urllist.adduser + "branchload";
      axios
        .get(url)
        .then(response => {
          this.cityList = response.data;
          store.session.set("cityList", response);
        })
        .catch(error => {
          console.log(error);
        });
    },
    addFrom() {
      let userLogin = store.local.get("userLogin") || "";
      if (userLogin) {
        this.ruleForm2.account = userLogin.account;
        this.ruleForm2.city = userLogin.city;
      }
    }
  },
  mounted() {
    this.addFrom();
    // 默认获取分公司列表
    this.getCompanyList();
  }
};
</script>

<style lang="scss" scoped>
.login-container {
  /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin: 180px auto;
  width: 350px;
  padding: 35px 35px 15px 35px;
  background: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 5px 0px rgba(202, 198, 198, 0.7);

  .title {
    margin: 0px auto 40px auto;
    text-align: center;
    color: #505458;
  }

  .remember {
    margin: 0px 0px 35px 0px;
  }
}
</style>