<template>
  <div>
    <div id="financeall">
      <div style="text-align:center;">
        <h1>南方测绘仪器有限公司维修中心</h1>
        <h2>财务结算单</h2>
      </div>
      <hr />
      <div class="row">
        <span>广分维修单号：</span>
        <el-input
          style="width:130px"
          class="inputclass"
          v-model="form.companyrepairlistno"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>分公司单号：</span>
        <el-input
          style="width:130px"
          class="inputclass"
          v-model="form.listno"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>维修/鉴定费合计：</span>
        <el-input
          style="width:130px"
          class="inputclass"
          v-model="form.repairtotalcost"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>维修费：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.price"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>鉴定费：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.docimasycoast"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>维修分类：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.repairoptions"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <span>维修员：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.repairman"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>业务归属：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.businessbelong"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>分公司：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.belong"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>收款人：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.moneyrecman"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <span>收款日期：</span>
        <el-date-picker
          class="inputclass"
          style="width:150px"
          v-model="form.moneyrecdate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>
      </div>
      <div class="row">
        <span>仪器名称：</span>
        <el-input
          style="width:150px"
          class="inputclass"
          v-model="form.instrumentName"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>仪器型号：</span>
        <el-input
          style="width:150px"
          class="inputclass"
          v-model="form.model"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>完成日期：</span>
        <el-date-picker
          class="inputclass"
          style="width:150px"
          v-model="form.finisheddate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>
      </div>
      <div class="row">
        <span>数量：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.cont"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>客户名称：</span>
        <el-input
          style="width:450px"
          class="inputclass"
          v-model="form.customerName"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>取机人(客户签名)：</span>
        <el-input
          style="width:100px"
          class="inputclass"
          v-model="form.takeman"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>取发日期：</span>
        <el-date-picker
          class="inputclass"
          style="width:400px"
          v-model="form.deliverydate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>
      </div>
      <span>备注：</span>
      <el-input
        style="width:500px"
        class="inputclass"
        v-model="form.remark"
        size="medium"
        :readonly="wirted"
      ></el-input>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    form: {}
  },
  data() {
    return {
      wirted: true
    };
  },
  methods: {},
  mounted() {
    let sw = sessionStorage.getItem("switch");
    if (sw == 1) {
      this.publicdata.getdata(this.form);
    }
  }
};
</script>
<style>
#financeall {
  font-weight: 600;
  font-family: "Microsoft YaHei";
  color: black;
}
#financeall .el-input__icon {
  display: none;
}
.row {
  display: flex;
  margin: 2px 0 3px 0;
}
</style>
