<template>
  <div>
    <div id="dispatchAll">
      <div style="text-align:center;">
        <span style="display:block;text-align: center;font-size:20px;">南方测绘仪器有限公司维修中心</span>
        <span style="display:block;text-align: center;font-size:16px;">大幅面打印机派工</span>
      </div>
      <div class="row">
        <el-input style="width:80px" v-model="invoiceForm.belong" size="mini" :readonly="wirted"></el-input>
        <span>分公司</span>
        <div class="space"></div>
        <span>查询单号</span>
        <el-input style="width:80px" v-model="invoiceForm.listno" size="mini" :readonly="wirted"></el-input>
        <!-- <div class="space"></div>
        <span>恒业受理查询号 W115-</span>-->
      </div>

      <hr />
      <div class="row">
        <span class="tag">客户名称:</span>
        <el-input
          style="width:380px"
          v-model="invoiceForm.customerName"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <div class="space"></div>
        <span class="tag">邮政编码:</span>
        <el-input style="width:190px" v-model="invoiceForm.stampno" size="mini" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <span class="tag">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</span>
        <el-input style="width:380px" v-model="invoiceForm.address" size="mini" :readonly="wirted"></el-input>
        <div class="space"></div>
        <span class="tag">联系人:&nbsp;&nbsp;&nbsp;</span>
        <el-input
          style="width:190px"
          v-model="invoiceForm.connectionman"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span class="tag">电&nbsp;&nbsp;话&nbsp;&nbsp;1:&nbsp;</span>
        <el-input style="width:284px" v-model="invoiceForm.tel1" size="mini" :readonly="wirted"></el-input>
        <div class="space"></div>
        <span class="tag">电&nbsp;&nbsp;话&nbsp;&nbsp;2:&nbsp;</span>
        <el-input style="width:284px" v-model="invoiceForm.tel2" size="mini" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <span class="tag">仪器名称:</span>
        <el-input
          style="width:145px"
          v-model="invoiceForm.instrumentName"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <!-- <div class="space2"></div> -->
        <span class="tag">仪器型号:</span>
        <el-input style="width:145px" v-model="invoiceForm.model" size="mini" :readonly="wirted"></el-input>
        <!-- <div class="space2"></div> -->
        <span class="tag">数量:</span>
        <el-input style="width:50px" v-model="invoiceForm.cont" size="mini" :readonly="wirted"></el-input>
        <!-- <div class="space2"></div> -->
        <span class="tag">序列号:</span>
        <el-input
          style="width:180px"
          v-model="invoiceForm.instrumentNo"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row" style="display:flex">
        <div class="inputlook_word">
          仪&nbsp;&nbsp;器
          <br />故&nbsp;&nbsp;障
          <br />简&nbsp;&nbsp;述
        </div>
        <el-input
          type="textarea"
          class="input_height1"
          v-model="invoiceForm.bugdescribe"
          :readonly="wirted"
        ></el-input>
      </div>
      <!-- <div class="row">
        <span class="tag">保修卡号:</span>
        <el-input
          style="width:200px"
          v-model="invoiceForm.repairpromisecardno"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <div class="space"></div>
        <span class="tag">购买日期:</span>
        <el-input style="width:150px" v-model="invoiceForm.recdate" size="mini" :readonly="wirted"></el-input>
      </div>-->

      <!-- <div class="row" style="display:flex">
        <el-checkbox-group v-model="invoiceForm.repair" :disabled="wirted">
          <el-checkbox label="维修" name="type"></el-checkbox>
        </el-checkbox-group>

        <el-checkbox-group v-model="invoiceForm.repairimmediately" :disabled="wirted">
          <el-checkbox label="维修加急" name="type"></el-checkbox>
        </el-checkbox-group>

        <el-checkbox-group v-model="invoiceForm.docimasy" :disabled="wirted">
          <el-checkbox label="鉴定" name="type"></el-checkbox>
        </el-checkbox-group>

        <el-checkbox-group v-model="invoiceForm.docimasyimmediately" :disabled="wirted">
          <el-checkbox label="鉴定加急" name="type"></el-checkbox>
        </el-checkbox-group>
        <div class="space"></div>
        <span class="tag">指定鉴定单位</span>
        <el-input
          style="width:328px"
          v-model="invoiceForm.defaultdocimasyunit"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>-->
      <div class="row">
        <!-- <div style="width:50%;display: inline-block;"> -->
        <div>
          <div style="display: inline-block;">
            <span class="tag">维修项目1</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment1"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">项目1修理/元件费</span>
            <el-input
              class="inputlook"
              style="width:60px;"
              v-model="invoiceForm.attachment1cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">维修项目2</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment2"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">项目2修理/元件费</span>
            <el-input
              class="inputlook"
              style="width:60px;"
              v-model="invoiceForm.attachment2cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">维修项目3</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment3"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">项目3修理/元件费</span>
            <el-input
              class="inputlook"
              style="width:60px;"
              v-model="invoiceForm.attachment3cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">维修项目4</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment4"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">项目4修理/元件费</span>
            <el-input
              class="inputlook"
              style="width:60px;"
              v-model="invoiceForm.attachment4cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">维修项目5</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment5"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">项目5修理/元件费</span>
            <el-input
              class="inputlook"
              style="width:60px;"
              v-model="invoiceForm.attachment5cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">维修项目6</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment6"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">项目6修理/元件费</span>
            <el-input
              class="inputlook"
              style="width:60px;"
              v-model="invoiceForm.attachment6cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div style="width:60%;display: inline-block">
          <div style="display:inline-flex;">
            <el-checkbox-group v-model="invoiceForm.docimasyhasrecedmoney" :disabled="wirted">
              <el-checkbox label="已收鉴定费" name="type"></el-checkbox>
            </el-checkbox-group>
            <el-checkbox-group
              v-model="invoiceForm.ticketOrTranstmoneytocompany"
              :disabled="wirted"
            >
              <el-checkbox label="支票或转账到公司" name="type"></el-checkbox>
            </el-checkbox-group>
            <el-checkbox-group v-model="invoiceForm.cashaccount" :disabled="wirted">
              <el-checkbox label="现金结算" name="type"></el-checkbox>
            </el-checkbox-group>
            <el-checkbox-group v-model="invoiceForm.moneytranstedtodocimasyunit" :disabled="wirted">
              <el-checkbox label="款转鉴定所" name="type"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div>
            <span class="tag">已收金额</span>
            <el-input
              style="width:100px"
              v-model="invoiceForm.recedman"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">核实人</span>
            <el-input
              style="width:100px"
              v-model="invoiceForm.froofman"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
        </div>
        <div class="tip1">凡是开具国土厅、省所、市所鉴定发票，客户是以支票或转账结算的，务必通知客户直接转款到检定所</div>
      </div>-->
      <div class="row">
        <div class="inputlook_word">
          其&nbsp;&nbsp;他
          <br />修&nbsp;&nbsp;理
          <br />项&nbsp;&nbsp;目
        </div>
        <el-input
          type="textarea"
          class="input_height"
          v-model="invoiceForm.otherattachment"
          :readonly="wirted"
        ></el-input>
      </div>

      <!-- <div class="row" style="display:flex">
        <div class="inputlook_word">备注</div>
        <el-input class="input_height1" v-model="invoiceForm.bugdescribe" :readonly="wirted"></el-input>
      </div>-->
      <div class="row">
        <span class="tag">派单日期</span>&nbsp;&nbsp;&nbsp;
        <el-date-picker
          style="width:180px"
          v-model="invoiceForm.agreedate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>
        <span class="tag">完成日期</span>
        <el-input style="width:180px" size="mini" :readonly="wirted"></el-input>
        <span class="tag">业务归属</span>
        <el-input
          style="width:180px"
          v-model="invoiceForm.businessbelong"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span class="tag">上门服务费</span>
        <el-input style="width:180px" size="mini" :readonly="wirted"></el-input>
        <span class="tag">维修费&nbsp;&nbsp;&nbsp;</span>
        <el-input style="width:180px" v-model="invoiceForm.price" size="mini" :readonly="wirted"></el-input>
        <span class="tag">合计费用</span>
        <el-input
          style="width:180px"
          size="mini"
          v-model="invoiceForm.repairtotalcost"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span class="tag">维修工程师</span>
        <el-input
          style="width:180px"
          v-model="invoiceForm.repairman"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <span class="tag">派单员&nbsp;&nbsp;&nbsp;</span>
        <el-input style="width:180px" size="mini" :readonly="wirted"></el-input>
        <span class="tag">主管签字:</span>
      </div>
      <div class="row">
        <div class="inputlook_word">备注</div>
        <el-input v-model="invoiceForm.remark" :readonly="wirted"></el-input>
      </div>
      <div class="tips">
        说明:
        <br />1、本表所列费用，是根据用户提供的故障现象由维修工程师估算之费用；在维修过程中若发现其他问题，我公司会再次报价，结算金额以实际更换的配件和维修费用为准。
        <br />2、本次维修所更换的配件享有三个月免费保修（不包括另外购买的维修配件）。
        <br />3、经工程师检查报价后，若用户不同意维修，用户须支付基本检测费（人工费+上门费）。
        <br />4、在维修过程中，如遇要拆下打印头，墨盒，解密卡等易损耗材时，在维修完成后检测报相关耗材不能识别，并反复检查无误，将由客户负责耗材的购买更换。
        <br />5、根据国家有关规定，因以下情况造成仪器故障的，将不再免费维修之列:
        <br />&nbsp;&nbsp;a.用户因使用不当，或未按照仪器使用说明进行操作而造成的故障。
        <br />&nbsp;&nbsp;b.仪器发生故障后，用户自行拆开检修，或在非本公司授权的维修单位进行维修。
        <br />&nbsp;&nbsp;c.仪器因碰撞，摔坏，水浸等造成的认为损坏。
        <br />&nbsp;&nbsp;d.本单无本公司盖章无效。
      </div>
      <hr />
      <div>
        <div style="text-align: center;font-size:20px;">广州南方测绘科技股份有限公司广州分公司</div>
        <div style="text-align: center;font-size:16px;">请您确认以上所填信息并完全了解协议中各项条款！</div>
        <div style="margin-left:70%;">用户签名确认:</div>
      </div>
      <hr />
      <!-- <div class="row">
        <div style="display:block;text-align: center;font-size:20px;">广州南方测绘科技股份有限公司广州分公司</div>
        <span style="text-align: center;font-size:16px;">请您确认以上所填信息并完全了解协议中各项条款！</span>
        <span style="margin-left:50px;">用户签名确认:</span>
      </div>-->
      <div class="row">
        <span class="tag">地址:广州市黄埔大道中156-158号 恒业大厦首层（南方测绘维修部）</span>
        <div class="space" style="width:20%;"></div>
        <span class="tag">邮编:510655</span>
      </div>
      <div>
        <span class="tag">电话:020-8615563</span>
        <span class="tag">13829745123</span>
        <div class="space" style="width:20%;"></div>
        <span class="tag">传真:</span>
      </div>
      <div>
        <span class="tag">*查询时请报右上角单号</span>
      </div>
    </div>
    <!-- <el-button type="primary" v-print="'#dispatchAll'">打印</el-button> -->
  </div>
</template>
<script>
export default {
  props: {
    invoiceForm: {}
  },
  data() {
    return {
      wirted: true
    };
  },
  methods: {},
  mounted() {
    let sw = sessionStorage.getItem("switch");
    if (sw == 1) {
      this.publicdata.getdata(this.invoiceForm);
    }
  }
};
</script>
<style>
#dispatchAll {
  font-weight: 600;
  font-family: "Microsoft YaHei";
  color: black;
  font-size: 12px;
  /* font-weight: 600; */
}
#dispatchAll input {
  border: 1px solid #828385;
  color: black;
  font-weight: 600;
}
#dispatchAll span {
  color: black;
  font-weight: 600;
}
#dispatchAll .el-checkbox__inner {
  border-color: black !important;
}
#dispatchAll .el-checkbox__inner::after {
  border-color: black !important;
}
/* 行容器 */
#dispatchAll .row {
  margin: 2px 0 2px 0;
}
/* 文字框 */
#dispatchAll .tip1 {
  width: 39%;
  display: inline-block;
  line-height: inherit;
  font-size: 14px;
  border: 1px solid #828385;
  border-radius: 4px;
}
#dispatchAll .tips {
  font-size: 15px;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
}
/* span标签 */
#dispatchAll .tag {
  margin: 2px 5px 0px 1px;
}

#dispatchAll .space {
  display: inline-block;
  width: 30px;
  height: 10px;
}
#dispatchAll .space2 {
  display: inline-block;
  width: 15px;
  height: 10px;
}
/* 
.customWidth_look {
  display: flex;
} */
#dispatchAll .inputlook {
  width: 120px;
}
#dispatchAll .inputlook_word {
  width: 50px;
  line-height: 30px;
}
#dispatchAll .input_height input,
textarea {
  height: 50px;
}
#dispatchAll .input_height1 input {
  height: 50px;
  font-size: 13px;
}
#dispatchAll textarea {
  height: 80px;
  border: 1px solid #828385;
  resize: none;
}
/* .font {
  text-align: end;
  font-size: 27px;
  font-weight: bolder;
} */
/* #printTest.el-form-item__label {
  padding: 6px 12px 6px 0;
} */

/* #printTest.el-form-item__content {
  line-height: 24px;
} */

/* 表格样式 */
#dispatchAll .table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: black;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
#dispatchAll thead {
  width: 100%;
}
#dispatchAll tr {
  width: 100%;
}
#dispatchAll .head {
  width: 20%;
  text-align: center;
}
#dispatchAll .id {
  text-align: center;
  width: 10%;
  border-right: 1px solid;
}
#dispatchAll .el-input__icon {  
  display: none;
}
/* td {
  width: 25%;
} */
</style>


