<template>
  <div>
    <div id="printInvoice">
      <div style="text-align:center;">
        <h1>仪器送修送检发货单</h1>
      </div>
      <div class="row">
        <el-input style="width:80px" v-model="invoiceForm.belong" size="mini" :readonly="wirted"></el-input>
        <span class="tag">分公司</span>
        <div class="space"></div>
        <span class="tag">查询单号</span>
        <el-input style="width:80px" v-model="invoiceForm.listno" size="mini" :readonly="wirted"></el-input>
        <div class="space"></div>
        <span>恒业受理查询号：</span>
        <el-input
          style="width:80px"
          v-model="invoiceForm.companyrepairlistno"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>

      <hr />
      <div class="row">
        <span class="tag">客户名称:</span>
        <el-input
          style="width:380px"
          v-model="invoiceForm.customerName"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <div class="space"></div>
        <span class="tag">邮政编码:</span>
        <el-input style="width:170px" v-model="invoiceForm.stampno" size="mini" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <span class="tag">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</span>
        <el-input style="width:380px" v-model="invoiceForm.address" size="mini" :readonly="wirted"></el-input>
        <div class="space"></div>
        <span class="tag">联系人:&nbsp;&nbsp;&nbsp;</span>
        <el-input
          style="width:170px"
          v-model="invoiceForm.connectionman"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span class="tag">电&nbsp;&nbsp;话&nbsp;&nbsp;1:&nbsp;</span>
        <el-input style="width:270px" v-model="invoiceForm.tel1" size="mini" :readonly="wirted"></el-input>
        <div class="space"></div>
        <span class="tag">电&nbsp;&nbsp;话&nbsp;&nbsp;2:&nbsp;</span>
        <el-input style="width:276px" v-model="invoiceForm.tel2" size="mini" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <span class="tag">仪器名称:</span>
        <el-input
          style="width:120px"
          v-model="invoiceForm.instrumentName"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <!-- <div class="space2"></div> -->
        <span class="tag">仪器型号:</span>
        <el-input style="width:130px" v-model="invoiceForm.model" size="mini" :readonly="wirted"></el-input>
        <!-- <div class="space2"></div> -->
        <span class="tag">数量:</span>
        <el-input style="width:50px" v-model="invoiceForm.cont" size="mini" :readonly="wirted"></el-input>
        <!-- <div class="space2"></div> -->
        <span class="tag">机身号码:</span>
        <el-input
          style="width:173px"
          v-model="invoiceForm.instrumentNo"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span class="tag">保修卡号:</span>
        <el-input
          style="width:200px"
          v-model="invoiceForm.repairpromisecardno"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <div class="space"></div>
        <span class="tag">购买日期:</span>
        <el-date-picker
          style="width:150px"
          v-model="invoiceForm.purchase"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>
      </div>

      <div class="row" style="display:flex">
        <el-checkbox-group v-model="invoiceForm.repair" :disabled="wirted">
          <el-checkbox label="维修" name="type"></el-checkbox>
        </el-checkbox-group>

        <el-checkbox-group v-model="invoiceForm.repairimmediately" :disabled="wirted">
          <el-checkbox label="维修加急" name="type"></el-checkbox>
        </el-checkbox-group>

        <el-checkbox-group v-model="invoiceForm.docimasy" :disabled="wirted">
          <el-checkbox label="鉴定" name="type"></el-checkbox>
        </el-checkbox-group>

        <el-checkbox-group v-model="invoiceForm.docimasyimmediately" :disabled="wirted">
          <el-checkbox label="鉴定加急" name="type"></el-checkbox>
        </el-checkbox-group>
        <div class="space"></div>
        <span class="tag">指定鉴定单位</span>
        <el-input
          style="width:328px"
          v-model="invoiceForm.defaultdocimasyunit"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <!-- <div style="width:50%;display: inline-block;"> -->
        <div>
          <div style="display: inline-block;">
            <span class="tag">随机附件1</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment1"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">附件1数量</span>
            <el-input
              class="inputlook"
              style="width:80px;"
              v-model="invoiceForm.attachment1cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">随机附件2</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment2"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">附件2数量</span>
            <el-input
              class="inputlook"
              style="width:80px;"
              v-model="invoiceForm.attachment2cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">随机附件3</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment3"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">附件3数量</span>
            <el-input
              class="inputlook"
              style="width:80px;"
              v-model="invoiceForm.attachment3cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">随机附件4</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment4"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">附件4数量</span>
            <el-input
              class="inputlook"
              style="width:80px;"
              v-model="invoiceForm.attachment4cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">随机附件5</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment5"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">附件5数量</span>
            <el-input
              class="inputlook"
              style="width:80px;"
              v-model="invoiceForm.attachment5cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div style="display: inline-block;">
            <span class="tag">随机附件6</span>
            <el-input
              class="inputlook"
              v-model="invoiceForm.attachment6"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">附件6数量</span>
            <el-input
              class="inputlook"
              style="width:80px;"
              v-model="invoiceForm.attachment6cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="width:60%;display: inline-block">
          <div style="display:inline-flex;">
            <el-checkbox-group v-model="invoiceForm.docimasyhasrecedmoney" :disabled="wirted">
              <el-checkbox label="已收鉴定费" name="type"></el-checkbox>
            </el-checkbox-group>
            <el-checkbox-group
              v-model="invoiceForm.ticketOrTranstmoneytocompany"
              :disabled="wirted"
            >
              <el-checkbox label="支票或转账到公司" name="type"></el-checkbox>
            </el-checkbox-group>
            <el-checkbox-group v-model="invoiceForm.cashaccount" :disabled="wirted">
              <el-checkbox label="现金结算" name="type"></el-checkbox>
            </el-checkbox-group>
            <el-checkbox-group v-model="invoiceForm.moneytranstedtodocimasyunit" :disabled="wirted">
              <el-checkbox label="款转鉴定所" name="type"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div>
            <span class="tag">已收金额</span>
            <el-input
              style="width:100px"
              v-model="invoiceForm.recedman"
              size="mini"
              :readonly="wirted"
            ></el-input>
            <span class="tag">核实人</span>
            <el-input
              style="width:100px"
              v-model="invoiceForm.froofman"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
        </div>
        <div class="tip1">凡是开具国土厅、省所、市所鉴定发票，客户是以支票或转账结算的，务必通知客户直接转款到检定所</div>
      </div>
      <div class="row">
        <div class="inputlook_word">
          其他
          <br />附件
        </div>
        <el-input class="input_height1" v-model="invoiceForm.otherattachment" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <div class="inputlook_word">仪器故障简述</div>
        <el-input class="input_height1" v-model="invoiceForm.bugdescribe" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <div class="inputlook_word">备注</div>
        <el-input class="input_height1" v-model="invoiceForm.bugdescribe" :readonly="wirted"></el-input>
      </div>
      <div class="customWidth_look">
        <span class="tag">接收日期</span>
        <el-date-picker
          style="width:200px"
          v-model="invoiceForm.recdate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>
        <div style="width:165px;"></div>
        <!-- <div class="space"></div> -->
        <!-- <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>-->
        <span class="tag">送机人(签名)</span>
        <el-input
          style="width:200px"
          v-model="invoiceForm.instrumentsendman"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="tips">
        说明:
        <strong>(凡未收到查询号,即维修部未收到货件,请及时查询!)</strong>
        <br />1、各种仪器附件必须在附件名称后注明数量，凡未填写数量的视同该项数量为零。
        <br />2、其他未列附件，要在其他附件栏内填写清楚。
        <br />3、保修仪器必须注明并提供有效保修卡，送检仪器必须指定鉴定单位。
        <br />4、务必注明仪器具体故障，凡不注明具体故障的，造成的延误及后果由经手人负责
      </div>
      <hr />
      <div class="row">
        <table border="1" class="table" style="width:100%;">
          <thead>
            <tr>
              <td colspan="2" class="head" style="width:30%;">修理项目</td>
              <td colspan="2" class="head">修理/元件费</td>
              <td colspan="2" class="head" style="width:30%;">修理项目</td>
              <td colspan="2" class="head">修理/元件费</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">
                <div class="id">1</div>
              </td>
              <td colspan="2"></td>
              <td colspan="2">
                <div class="id">1</div>
              </td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="id">2</div>
              </td>
              <td colspan="2"></td>
              <td colspan="2">
                <div class="id">2</div>
              </td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="id">3</div>
              </td>
              <td colspan="2"></td>
              <td colspan="2">
                <div class="id">3</div>
              </td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="id">4</div>
              </td>
              <td colspan="2"></td>
              <td colspan="2">
                <div class="id">4</div>
              </td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="id">5</div>
              </td>
              <td colspan="2"></td>
              <td colspan="2">
                <div class="id">5</div>
              </td>
              <td colspan="2"></td>
            </tr>
            <tr>
              <td colspan="4">鉴定费:</td>
              <td colspan="4">修理费合计:</td>
            </tr>
            <tr>
              <td colspan="3">维修员:</td>
              <td colspan="3">检查员:</td>
              <td colspan="2">合计金额:</td>
            </tr>
            <tr>
              <td>报价:</td>
              <td>等复:</td>
              <td>同意修:</td>
              <td>不修:</td>
              <td></td>
              <td colspan="3">收款人:</td>
            </tr>
            <tr>
              <td colspan="2">通知取:</td>
              <td colspan="3">取机人签发/发往:</td>
              <td colspan="3">取发机日期:</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <span class="tag">地址:广州市黄埔大道中156-158号 恒业大厦首层（南方测绘维修部）</span>
        <div class="space"></div>
        <span class="tag">邮编:510655</span>
        <!-- <br>
        <span class="tag">电话:020-8615563</span>
        <div class="space"></div>
        <span class="tag">020-85615518转鉴定中心</span>
        <div class="space"></div>
        <span class="tag">传真:020-85615563</span>
        <br>
        <span class="tag">*查询时请报右上角单号</span>-->
      </div>
      <div class="row">
        <span class="tag">电话:020-8615563</span>
        <div class="space"></div>
        <span class="tag">020-85615518转鉴定中心</span>
        <div class="space"></div>
        <span class="tag">传真:020-85615563</span>
        <div class="space"></div>
        <span class="tag">*查询时请报右上角单号</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    invoiceForm: {}
  },
  data() {
    return {
      wirted: true
    };
  },
  methods: {},
  mounted() {
    let sw = sessionStorage.getItem("switch");
    if (sw == 1) {
      this.publicdata.getdata(this.invoiceForm);
    }
  }
};
</script>
<style >
#printInvoice {
  font-weight: 600;
  font-family: "Microsoft YaHei";
  color: black;
  /* font-weight: 600; */
}
#printInvoice .el-input__icon {
  display: none;
}
#printInvoice input {
  border: 1px solid #828385;
  color: black;
  font-weight: 600;
}
#printInvoice span {
  color: black;
  font-weight: 600;
}
#printInvoice strong {
  font-size: 16px;
}
#printInvoice .el-checkbox__inner {
  border-color: black !important;
}
#printInvoice .el-checkbox__inner::after {
  border-color: black !important;
}
/* 行容器 */
#printInvoice .row {
  margin: 2px 0 2px 0;
}
/* 文字框 */
#printInvoice .tip1 {
  width: 39%;
  display: inline-block;
  line-height: inherit;
  font-size: 14px;
  border: 1px solid #828385;
  border-radius: 4px;
}
#printInvoice .tips {
  font-size: 15px;
}
/* span标签 */
#printInvoice .tag {
  margin: 2px 5px 0px 1px;
}

#printInvoice .space {
  display: inline-block;
  width: 30px;
  height: 10px;
}
#printInvoice .space2 {
  display: inline-block;
  width: 15px;
  height: 10px;
}
/* 
.customWidth_look {
  display: flex;
} */
#printInvoice .inputlook {
  width: 120px;
}
#printInvoice .inputlook_word {
  width: 50px;
  line-height: 17px;
}
#printInvoice .input_height input {
  height: 50px;
}
#printInvoice .input_height1 input {
  height: 50px;
  font-size: 13px;
}
/* .font {
  text-align: end;
  font-size: 27px;
  font-weight: bolder;
} */
/* #printTest.el-form-item__label {
  padding: 6px 12px 6px 0;
} */

/* #printTest.el-form-item__content {
  line-height: 24px;
} */

/* 表格样式 */
#printInvoice .table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: black;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
#printInvoice thead {
  width: 100%;
}
#printInvoice tr {
  width: 100%;
}
#printInvoice .head {
  width: 20%;
  text-align: center;
}
#printInvoice .id {
  text-align: center;
  width: 10%;
  border-right: 1px solid;
}
/* td {
  width: 25%;
} */
</style>


