﻿<template>
  <el-form
    ref="form"
    :model="form"
    :rules="rules"
    label-width="100px"
    style="margin:20px;width:60%;min-width:1000px;"
  >
    <div v-show="visbleobject.formshow">
      <div style="display:flex">
        <el-form-item label="单号">
          <el-input
            v-model="form.listno"
            style="width:160px"
            :disabled="true"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <div style="width:216px;margin-left:10px">
          <el-checkbox v-model="form.repair">维修</el-checkbox>
          <el-checkbox v-model="form.repairimmediately">维修加急</el-checkbox>
          <el-checkbox v-model="form.docimasy">检定</el-checkbox>
          <el-checkbox v-model="form.docimasyimmediately">检定加急</el-checkbox>
        </div>
        <div style="display:flex">
          <el-form-item label="保修卡号">
            <el-input
              v-model="form.repairpromisecardno"
              style="width:100px"
              :readonly="perosoncardll"
              @input="changeInput($event)"
            ></el-input>
          </el-form-item>
          <el-button type="text" @click="fixdialog = true">详情</el-button>
          <div v-if="fixdialog">
            <el-dialog
              title="保修卡信息"
              :visible.sync="fixdialog"
              width="40%"
              :modal-append-to-body="false"
            >
              <keepfix
                :jsonData="jsonData"
                :cityname="cityname"
                ref="fixchild"
                :keepfixvisible.sync="fixdialog"
              ></keepfix>
              <!-- <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="addfixpoint">添加记录</el-button>
                <el-button type="primary" @click="savefixpoint">保存记录</el-button>
              </span>-->
            </el-dialog>
          </div>
        </div>
        <el-form-item label="购买日期">
          <el-date-picker
            v-model="form.purchase"
            type="date"
            placeholder="选择日期"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-date-picker>
        </el-form-item>
      </div>

      <el-form :inline="true">
        <el-form-item label="广分维修单号">
          <el-input
            v-model="form.companyrepairlistno"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="接收日期">
          <el-date-picker
            v-model="form.recdate"
            type="date"
            placeholder="选择日期"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="核实人">
          <el-autocomplete
            class="inline-input"
            v-model="form.froofman"
            :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'froofman')})"
            placeholder="请输入内容"
            clearable
            @input="changeInput($event)"
          ></el-autocomplete>
        </el-form-item>
      </el-form>

      <div style="display:flex">
        <div>
          <div style="display:flex">
            <div>
              <el-form-item label="客户名称">
                <el-autocomplete
                  class="inline-input"
                  v-model="form.customerName"
                  :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'customerName')})"
                  placeholder="请输入内容"
                  style="width:400px"
                  @input="changeInput($event)"
                  clearable
                ></el-autocomplete>
              </el-form-item>
              <el-form-item label="地址">
                <el-input
                  v-model="form.address"
                  style="width:300px"
                  :readonly="perosoncardll"
                  @input="changeInput($event)"
                ></el-input>
              </el-form-item>
            </div>
            <el-form-item>
              <el-button style="height:100px;">
                客户
                <br />维修存档
                <br />查询
              </el-button>
            </el-form-item>
          </div>
          <div style="display:flex">
            <el-form-item label="联系人">
              <el-input
                v-model="form.connectionman"
                style="width:220px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
            <el-form-item label="邮政编码">
              <el-input
                v-model="form.stampno"
                style="width:220px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
          </div>
        </div>
        <el-form-item label="仪器故障简述">
          <el-input
            type="textarea"
            :rows="7"
            placeholder="请输入内容"
            v-model="form.bugdescribe"
            style="width:250px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
      </div>
      <div style="display:flex">
        <el-form-item label="电话1">
          <el-input
            v-model="form.tel1"
            style="width:220px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="电话2">
          <el-input
            v-model="form.tel2"
            style="width:220px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="指定鉴定单位">
          <el-autocomplete
            class="inline-input"
            v-model="form.defaultdocimasyunit"
            :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'defaultdocimasyunit')})"
            placeholder="请输入内容"
            @input="changeInput($event)"
            clearable
          ></el-autocomplete>
        </el-form-item>
      </div>
      <div style="display:flex">
        <div>
          <div style="display:flex">
            <el-form-item label="仪器名称">
              <el-autocomplete
                class="inline-input"
                v-model="form.instrumentName"
                :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'instrumentName')})"
                placeholder="请输入内容"
                @input="changeInput($event)"
                clearable
              ></el-autocomplete>
            </el-form-item>
            <el-form-item label="仪器型号">
              <el-autocomplete
                class="inline-input"
                v-model="form.model"
                :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'model')})"
                placeholder="请输入内容"
                @input="changeInput($event)"
                clearable
              ></el-autocomplete>
            </el-form-item>
          </div>
          <div style="display:flex">
            <el-form-item label="机身号码">
              <el-input
                v-model="form.instrumentNo"
                style="width:370px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
            <el-form-item label="仪器数量">
              <el-input
                v-model="form.cont"
                style="width:60px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
          </div>
        </div>
        <el-form-item label="送机人(客户签名)">
          <el-input
            type="textarea"
            :rows="4"
            placeholder="请输入内容"
            v-model="form.instrumentsendman"
            style="width:250px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
      </div>
      <div style="display:flex">
        <div>
          <div style="display:flex">
            <div>
              <div style="display:flex">
                <div>
                  <el-form-item label="随机附件1">
                    <el-autocomplete
                      class="inline-input"
                      v-model="form.attachment1"
                      style="width:100px"
                      :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'attachment1')})"
                      placeholder="请输入内容"
                      @input="changeInput($event)"
                      clearable
                    ></el-autocomplete>
                  </el-form-item>
                  <el-form-item label="随机附件2">
                    <el-autocomplete
                      class="inline-input"
                      v-model="form.attachment2"
                      style="width:100px"
                      :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'attachment2')})"
                      placeholder="请输入内容"
                      @input="changeInput($event)"
                      clearable
                    ></el-autocomplete>
                  </el-form-item>
                  <el-form-item label="随机附件3">
                    <el-autocomplete
                      class="inline-input"
                      v-model="form.attachment3"
                      style="width:100px"
                      :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'attachment3')})"
                      placeholder="请输入内容"
                      @input="changeInput($event)"
                      clearable
                    ></el-autocomplete>
                  </el-form-item>
                  <el-form-item label="随机附件4">
                    <el-autocomplete
                      class="inline-input"
                      v-model="form.attachment4"
                      style="width:100px"
                      :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'attachment4')})"
                      placeholder="请输入内容"
                      @input="changeInput($event)"
                      clearable
                    ></el-autocomplete>
                  </el-form-item>
                  <el-form-item label="随机附件5">
                    <el-autocomplete
                      class="inline-input"
                      v-model="form.attachment5"
                      style="width:100px"
                      :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'attachment5')})"
                      placeholder="请输入内容"
                      @input="changeInput($event)"
                      clearable
                    ></el-autocomplete>
                  </el-form-item>
                  <el-form-item label="随机附件6">
                    <el-autocomplete
                      class="inline-input"
                      v-model="form.attachment6"
                      style="width:100px"
                      :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'attachment6')})"
                      placeholder="请输入内容"
                      @input="changeInput($event)"
                      clearable
                    ></el-autocomplete>
                  </el-form-item>
                </div>
                <div>
                  <el-form-item label="附件1数量">
                    <el-input
                      v-model="form.attachment1cont"
                      style="width:100px"
                      :readonly="perosoncardll"
                      @input="changeInput($event)"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="附件2数量">
                    <el-input
                      v-model="form.attachment2cont"
                      style="width:100px"
                      :readonly="perosoncardll"
                      @input="changeInput($event)"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="附件3数量">
                    <el-input
                      v-model="form.attachment3cont"
                      style="width:100px"
                      :readonly="perosoncardll"
                      @input="changeInput($event)"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="附件4数量">
                    <el-input
                      v-model="form.attachment4cont"
                      style="width:100px"
                      :readonly="perosoncardll"
                      @input="changeInput($event)"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="附件5数量">
                    <el-input
                      v-model="form.attachment5cont"
                      style="width:100px"
                      :readonly="perosoncardll"
                      @input="changeInput($event)"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="附件6数量">
                    <el-input
                      v-model="form.attachment6cont"
                      style="width:100px"
                      :readonly="perosoncardll"
                      @input="changeInput($event)"
                    ></el-input>
                  </el-form-item>
                </div>
              </div>
            </div>
            <div>
              <div style="margin-left: 10px;">其他附件</div>
              <div style="margin-left: 10px;">
                <el-input
                  type="textarea"
                  :rows="14"
                  placeholder="请输入内容"
                  v-model="form.otherattachment"
                  style="width:230px"
                  :readonly="perosoncardll"
                  @input="changeInput($event)"
                ></el-input>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div style="display:flex">
            <el-form-item label="接收经办人">
              <el-autocomplete
                class="inline-input"
                v-model="form.rechandlerman"
                style="width:100px"
                :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'rechandlerman')})"
                placeholder="请输入内容"
                :trigger-on-focus="false"
                @input="changeInput($event)"
                clearable
              ></el-autocomplete>
            </el-form-item>
          </div>
          <el-form-item label="取机人(客户签名)">
            <el-input
              type="textarea"
              :rows="3"
              placeholder="请输入内容"
              v-model="form.takeman"
              style="width:100px"
              :readonly="perosoncardll"
              @input="changeInput($event)"
            ></el-input>
          </el-form-item>
          <div style="display:flex">
            <el-form-item label="取机经办人">
              <el-autocomplete
                class="inline-input"
                v-model="form.takepassman"
                style="width:100px"
                :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'takepassman')})"
                placeholder="请输入内容"
                @input="changeInput($event)"
                clearable
              ></el-autocomplete>
            </el-form-item>
            <el-form-item label="取发日期">
              <el-date-picker
                v-model="form.deliverydate"
                type="date"
                placeholder="选择日期"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-date-picker>
            </el-form-item>
          </div>
          <div style="display:flex">
            <el-form-item label="收款人">
              <el-autocomplete
                class="inline-input"
                v-model="form.moneyrecman"
                style="width:100px"
                :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'moneyrecman')})"
                placeholder="请输入内容"
                @input="changeInput($event)"
                clearable
              ></el-autocomplete>
            </el-form-item>
            <el-form-item label="收款日期">
              <el-date-picker
                v-model="form.moneyrecdate"
                type="date"
                placeholder="选择日期"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-date-picker>
            </el-form-item>
          </div>
          <el-form-item label="广分返回日期">
            <el-date-picker
              v-model="form.returnfromcompanydate"
              type="date"
              placeholder="选择日期"
              :readonly="perosoncardll"
              @input="changeInput($event)"
            ></el-date-picker>
          </el-form-item>
          <!-- <el-form-item label="派单人">
          <el-input v-model="form.leaflet" style="width:100px"></el-input>
          </el-form-item>-->
        </div>
      </div>
      <div style="display:flex">
        <div>
          <el-form-item label="分公司">
            <el-autocomplete
              class="inline-input"
              v-model="form.belong"
              :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'belong')})"
              placeholder="请输入内容"
              @input="changeInput($event)"
              clearable
            ></el-autocomplete>
          </el-form-item>
          <el-form-item label="业务归属">
            <el-autocomplete
              class="inline-input"
              v-model="form.businessbelong"
              :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'businessbelong')})"
              placeholder="请输入内容"
              @input="changeInput($event)"
              clearable
            ></el-autocomplete>
          </el-form-item>
          <el-form-item label="属性" prop="property">
            <el-autocomplete
              class="inline-input"
              v-model="form.property"
              style="width:100px"
              :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'property')})"
              placeholder="请输入内容"
              @input="changeInput($event)"
              clearable
            ></el-autocomplete>
          </el-form-item>
          <!-- <el-form-item label="仪器分类">
          <el-input v-model="form.classfy" style="width:100px"></el-input>
          </el-form-item>-->
          <el-form-item label="维修分类">
            <el-autocomplete
              class="inline-input"
              v-model="form.repairoptions"
              style="width:100px"
              :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'repairoptions')})"
              placeholder="请输入内容"
              @input="changeInput($event)"
              clearable
            ></el-autocomplete>
          </el-form-item>
        </div>
        <div>
          <el-form-item label="定价日期">
            <el-date-picker
              v-model="form.pricemakedate"
              type="date"
              placeholder="选择日期"
              :readonly="perosoncardll"
              @input="changeInput($event)"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="报价待复">
            <el-date-picker
              v-model="form.hassendpricewaitask"
              type="date"
              placeholder="选择日期"
              :readonly="perosoncardll"
              @input="changeInput($event)"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="同意日期">
            <el-date-picker
              v-model="form.agreedate"
              type="date"
              placeholder="选择日期"
              :readonly="perosoncardll"
              @input="changeInput($event)"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="完成日期">
            <el-date-picker
              v-model="form.finisheddate"
              type="date"
              placeholder="选择日期"
              :readonly="perosoncardll"
              @input="changeInput($event)"
            ></el-date-picker>
          </el-form-item>
        </div>
        <div>
          <div style="display:flex">
            <el-form-item label="维修员">
              <el-autocomplete
                class="inline-input"
                v-model="form.repairman"
                :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'repairman')})"
                placeholder="请输入内容"
                @input="changeInput($event)"
                clearable
              ></el-autocomplete>
            </el-form-item>
            <el-form-item label="发广分日期">
              <el-date-picker
                v-model="form.sendtocompanydate"
                type="date"
                placeholder="选择日期"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-date-picker>
            </el-form-item>
          </div>
          <div style="display:flex">
            <el-form-item label="价格">
              <el-input
                v-model="form.price"
                style="width:100px"
                :readonly="perosoncardll"
                @keyup.native="getFullpriece"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
            <div style="margin-left:10px">
              <el-checkbox-group v-model="form.docimasyhasrecedmoney">
                <el-checkbox label="已收鉴定费" name="type" :disabled="perosoncardll"></el-checkbox>
              </el-checkbox-group>
            </div>
            <el-form-item label="已收金额" v-model="form.recedman">
              <el-input
                v-model="form.recedman"
                style="width:100px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
          </div>
          <div style="display:flex">
            <el-form-item label="价格2">
              <el-input
                v-model="form.price2"
                style="width:100px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
            <div style="margin-left:10px">
              <el-checkbox-group v-model="form.ticketOrTranstmoneytocompany">
                <el-checkbox label="支票或转账到公司" name="type" :disabled="perosoncardll"></el-checkbox>
              </el-checkbox-group>
            </div>
            <div style="margin-left:10px">
              <el-checkbox-group v-model="form.cashaccount">
                <el-checkbox label="现金结算" name="type" :disabled="perosoncardll"></el-checkbox>
              </el-checkbox-group>
            </div>
            <div style="margin-left:10px">
              <el-checkbox-group v-model="form.moneytranstedtodocimasyunit">
                <el-checkbox label="款转鉴定所" name="type" :disabled="perosoncardll"></el-checkbox>
              </el-checkbox-group>
            </div>
          </div>
          <div style="display:flex">
            <el-form-item label="鉴定费">
              <el-input
                v-model="form.docimasycoast"
                style="width:100px"
                :readonly="perosoncardll"
                @keyup.native="getFullpriece"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
            <!-- <el-form-item label="鉴定费">
              <el-select
                v-model="form.docimasycoast"
                filterable
                allow-create
                default-first-option
                placeholder="请选择"
                style="width:100px"
                :disabled="perosoncardll"
                @keydown.native="getFullpriece"
                @blur="getFullpriece"
              >
                <el-option
                  v-for="item in arraylist.docimasycoastvalue"
                  :key="item.name"
                  :label="item.value"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>-->
            <el-form-item label="成本/厂家收费" v-show="proshow">
              <el-input
                v-model="form.purchasecost"
                style="width:100px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
            <el-form-item label="维修/鉴定费合计">
              <el-input
                v-model="form.repairtotalcost"
                style="width:100px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
          </div>
        </div>
      </div>
      <div style="display:flex">
        <el-form-item label="修理项目1">
          <el-input
            v-model="form.repairoption1"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="项目1修理/元件费">
          <el-input
            v-model="form.repairoption1coast"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="修理项目4">
          <el-input
            v-model="form.repairoption4"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="项目4修理/元件费">
          <el-input
            v-model="form.repairoption4coast"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
      </div>
      <div style="display:flex">
        <el-form-item label="修理项目2">
          <el-input
            v-model="form.repairoption2"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="项目2修理/元件费">
          <el-input
            v-model="form.repairoption2coast"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="修理项目5">
          <el-input
            v-model="form.repairoption5"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
        <el-form-item label="项目5修理/元件费">
          <el-input
            v-model="form.repairoption5coast"
            style="width:100px"
            :readonly="perosoncardll"
            @input="changeInput($event)"
          ></el-input>
        </el-form-item>
      </div>
      <div style="display:flex">
        <div>
          <div style="display:flex">
            <el-form-item label="修理项目3">
              <el-input
                v-model="form.repairoption3"
                style="width:100px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
            <el-form-item label="项目3修理/元件费">
              <el-input
                v-model="form.repairoption3coast"
                style="width:100px"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-input>
            </el-form-item>
          </div>
          <div style="display:flex">
            <el-form-item label="外送厂家名称">
              <el-autocomplete
                class="inline-input"
                v-model="form.outsidesendfactoryname"
                style="width:100px"
                :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'outsidesendfactoryname')})"
                placeholder="请输入内容"
                @input="changeInput($event)"
                clearable
              ></el-autocomplete>
            </el-form-item>
            <el-form-item label="外送日期">
              <el-date-picker
                v-model="form.outsidesenddate"
                type="date"
                placeholder="选择日期"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-date-picker>
            </el-form-item>
            <el-form-item label="返回日期">
              <el-date-picker
                v-model="form.returndate"
                type="date"
                placeholder="选择日期"
                :readonly="perosoncardll"
                @input="changeInput($event)"
              ></el-date-picker>
            </el-form-item>
          </div>
        </div>
      </div>
      <el-form-item label="备注">
        <!-- <el-input v-model="form.remark" style="width:600px" :readonly="perosoncardll"></el-input> -->
        <el-input
          type="textarea"
          :rows="6"
          placeholder="请输入内容"
          v-model="form.remark"
          style="width:800px"
          :readonly="perosoncardll"
          @input="changeInput($event)"
          id="beizhu"
        ></el-input>
      </el-form-item>
      <el-form-item label="其他修理项目">
      <el-input
        type="textarea"
        :rows="4"
        placeholder="请输入内容"
        v-model="form.repairoptionother"
        style="width:600px"
        :readonly="perosoncardll"
        @input="changeInput($event)"
      ></el-input>
    </el-form-item>
    </div>
    <el-form-item label="附加项">
      <div style="display:flex">
        <el-button type="primary" v-on:click="download(word)">导出</el-button>
        <el-button type="primary" @click="savepoint('form',1)">保存记录</el-button>
        <el-button type="primary" @click="copePoint('form')">复制记录</el-button>
        <el-button type="primary" v-on:click="checkvisble('rgreen')">打印客户取机单</el-button>
        <el-button type="primary" v-on:click="checkvisble('igreen')">打印送修送检发货单</el-button>
        <el-button type="primary" v-on:click="checkvisble('fgreen')">打印财务结算单</el-button>
        <el-button type="primary" v-on:click="checkvisble('dgreen')">打印惠普派工单</el-button>
        <el-button
          type="danger"
          v-on:click="checkvisble('red')"
          v-show="visbleobject.formshow==false"
        >继续编辑</el-button>
      </div>
    </el-form-item>
    <!-- 取机单打印 -->
    <el-form-item v-show="visbleobject.rvisible">
      <receiptoutlook :form="form" id="printTest"></receiptoutlook>
      <el-button type="primary" v-print="'#printTest'">打印</el-button>
    </el-form-item>
    <!-- 发货单打印 -->
    <el-form-item v-show="visbleobject.ivisible">
      <invoiceOrder :invoiceForm="form" id="printInvoice"></invoiceOrder>
      <el-button type="primary" v-print="'#printInvoice'">打印</el-button>
    </el-form-item>
    <!-- 财务单打印 -->
    <el-form-item v-show="visbleobject.fvisible">
      <finance :form="form" id="printFinance"></finance>
      <el-button type="primary" v-print="'#printFinance'">打印</el-button>
    </el-form-item>
    <!-- 惠普派工单打印 -->
    <el-form-item v-show="visbleobject.dvisible">
      <dispatchOrder :invoiceForm="form" id="printDispatch"></dispatchOrder>
      <el-button type="primary" v-print="'#printDispatch'">打印</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import axios from "axios";
// import receiptoutlook from "./receiptLook";
import receiptoutlook from "./receiptLook";
import invoiceOrder from "./invoice";
import dispatchOrder from "./hpDispatch";
import finance from "./finance";
import keepfix from "./keepFix/keepFix";
export default {
  components: { receiptoutlook, invoiceOrder, finance, dispatchOrder, keepfix },
  props: {
    cityname: "",
    personbelong: "",
    addcity: "",
    perosoncardll: null,
    dialogvisible: { type: Boolean, default: false },
    proshowbind: ""
  },
  data() {
    let checkProperty = (rule, value, callback) => {
      if (value == "" || value == " " || value == undefined) {
        callback(new Error("该处不能为空"));
      } else {
        callback();
      }
    };
    return {
      isSave: true, ///是否将详情页面关闭
      optionlist: {
        propertyValue: [],
        customerNameValue: [],
        defaultdocimasyunitValue: [],
        instrumentNameValue: [],
        takepassmanValue: [],
        moneyrecmanValue: [],
        businessbelongValue: [],
        repairoptionsValue: [],
        repairmanValue: [],
        froofmanValue: [],
        docimasycoastValue: [],
        remarkValue: [],
        modelValue: [],
        rechandlermanValue: [],
        belongValue: [],
        attachment1Value: [],
        attachment2Value: [],
        attachment3Value: [],
        attachment4Value: [],
        attachment5Value: [],
        attachment6Value: [],
        outsidesendfactorynameValue: []
      },
      jsonData: "",
      fixdialog: false,
      timer: null,
      proshow: false, //成本/厂家显示
      visbleobject: { formshow: true },
      word: "config.json",
      content: "This is the content of my file",
      newlist: {
        businessbelongvalue: {},
        repairmanvalue: {}
      },
      savepointll: {},
      savepointscanner: {},
      rules: {
        property: [
          {
            required: true,
            // message: "选择信息",
            validator: checkProperty,
            trigger: "change"
          }
        ]
      },
      form: {
        ticketOrTranstmoneytocompany: "",
        listno: "",
        repair: "",
        repairimmediately: "",
        docimasy: "",
        docimasyimmediately: "",
        repairpromisecardno: "",
        purchase: "",
        customerName: "",
        address: "",
        connectionman: "",
        stampno: "",
        bugdescribe: "",
        tel1: "",
        tel2: "",
        defaultdocimasyunit: "",
        instrumentName: "",
        model: "",
        instrumentNo: "",
        cont: "",
        instrumentsendman: "",
        attachment1: "",
        attachment2: "",
        attachment3: "",
        attachment4: "",
        attachment5: "",
        attachment6: "",
        attachment1cont: "",
        attachment2cont: "",
        attachment3cont: "",
        attachment4cont: "",
        attachment5cont: "",
        attachment6cont: "",
        otherattachment: "",
        rechandlerman: "",
        recdate: this.publicdata.getnowtime(),
        takeman: "",
        takepassman: "",
        deliverydate: "",
        moneyrecman: "",
        moneyrecdate: "",
        belong: sessionStorage.getItem("switch") == 2 ? this.cityname : "",
        // belong: "",
        businessbelong: "",
        property: "",
        // classfy: "",
        repairoptions: "",
        pricemakedate: "",
        hassendpricewaitask: "",
        agreedate: "",
        // senddata: "",
        finisheddate: "",
        repairman: "",
        sendtocompanydate: "",
        companyrepairlistno: "",
        returnfromcompanydate: "",
        price: "",
        recedman: "",
        froofman: "",
        docimasyhasrecedmoney: "",
        verifying: "",
        price2: "",
        check: "",
        cashaccount: "",
        moneytranstedtodocimasyunit: "",
        docimasycoast: "",
        // seruverfee: "",
        purchasecost: "",
        repairtotalcost: "",
        repairoption1: "",
        repairoption1coast: "",
        repairoption4: "",
        repairoption4coast: "",
        repairoption2: "",
        repairoption2coast: "",
        repairoption5: "",
        repairoption5coast: "",
        repairoption3: "",
        repairoption3coast: "",
        outsidesendfactoryname: "",
        outsidesenddate: "",
        returndate: "",
        repairoptionother: "",
        remark: ""
      }
    };
  },
  methods: {
    changeInput(e) {
      this.$forceUpdate();
      console.log("表单进行强刷");
    },
    queryUnit(queryString, cb, index) {
      if (this.form.hasOwnProperty(index)) {
        let name = index + "Value";
        let restArr = this.optionlist[name];
        let results = queryString
          ? restArr.filter(this.createFilter(queryString))
          : restArr;
        cb(results.slice(0, 4));
      }
    },
    createFilter(queryString) {
      return restaurant => {
        return (
          restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    getFullpriece() {
      console.log(this.form.price, this.form.docimasycoast);
      let price = "";
      let docimasycoast = "";
      this.form.repairtotalcost =
        parseFloat((price = this.form.price == "" ? 0 : this.form.price)) +
        parseFloat(
          (docimasycoast =
            this.form.docimasycoast == "" ? 0 : this.form.docimasycoast)
        );
    },
    checkvisble(key) {
      let jsonarr = {
        red: {
          formshow: true,
          rvisible: false,
          ivisible: false,
          fvisible: false,
          dvisible: false
        },
        rgreen: {
          formshow: false,
          rvisible: true,
          ivisible: false,
          fvisible: false,
          dvisible: false
        },
        igreen: {
          formshow: false,
          rvisible: false,
          ivisible: true,
          fvisible: false,
          dvisible: false
        },
        fgreen: {
          formshow: false,
          rvisible: false,
          ivisible: false,
          fvisible: true,
          dvisible: false
        },
        dgreen: {
          formshow: false,
          rvisible: false,
          ivisible: false,
          fvisible: false,
          dvisible: true
        }
      };
      for (let i in jsonarr) {
        if (i == key) {
          this.visbleobject = jsonarr[key];
        }
      }
    },
    checkDispatch() {
      this.dispatchVisible = true;
    },
    download(filename) {
      var element = document.createElement("a");
      let filejson = JSON.stringify(this.form);
      element.setAttribute(
        "href",
        "data:text/plain;charset=utf-8," + encodeURIComponent(filejson)
      );
      element.setAttribute("download", filename);
      element.style.display = "none";
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
      this.$message({
        message: "导出成功",
        type: "success"
      });
    },
    copePoint(formname) {
      this.$refs[formname].validate(vaild => {
        if (vaild) {
          this.savepoint(formname, 2); ///做保存操作，不要关闭弹窗
          this.getdatedefaultnow(); ///获取单号，替换现在的单号
          sessionStorage.setItem("switch", 2); //切换成保存保存状态
          console.log(this.form, "检查------------");
          for (let ii in this.form) {
            ///筛掉垃圾
            this.form[ii] =
              this.form[ii] === "2001-1-1" ||
              this.form[ii] === "0" ||
              this.form[ii] === "0.0000" ||
              this.form[ii] === "111"
                ? ""
                : this.form[ii];
            this.form[ii] =
              this.form[ii] === "True"
                ? true
                : this.form[ii] === "False"
                ? false
                : this.form[ii];
            // texureform[i] =
            //   texureform[i] === false
            //     ? "False"
            //     : texureform[i] === true
            //     ? "True"
            //     : texureform[i];
          }
        }
      });
    },
    // 条件判断
    // 更新
    savepoint(formname, isSave) {
      this.$refs[formname].validate(vaild => {
        if (vaild) {
          let jsonData = JSON.parse(sessionStorage.getItem("item"));
          let texureform = this.form; //传输对象
          this.savepointll = this.publicdata.saveform(jsonData); //校验对象，不要对他做修改
          this.savepointscanner = this.publicdata.savepointscanner(
            this.savepointscanner
          ); //模板2
          texureform.sendtocompanydate =
            texureform.sendtocompanydate === "" ||
            texureform.sendtocompanydate === null
              ? "2001-1-1"
              : texureform.sendtocompanydate;
          texureform.purchase =
            texureform.purchase === "" || texureform.purchase === null
              ? "2001-1-1"
              : texureform.purchase;
          texureform.deliverydate =
            texureform.deliverydate === "" || texureform.deliverydate === null
              ? "2001-1-1"
              : texureform.deliverydate;
          texureform.moneyrecdate =
            texureform.moneyrecdate === "" || texureform.moneyrecdate === null
              ? "2001-1-1"
              : texureform.moneyrecdate;
          texureform.pricemakedate =
            texureform.pricemakedate === "" || texureform.pricemakedate === null
              ? "2001-1-1"
              : texureform.pricemakedate;
          texureform.hassendpricewaitask =
            texureform.hassendpricewaitask === "" ||
            texureform.hassendpricewaitask === null
              ? "2001-1-1"
              : texureform.hassendpricewaitask;
          texureform.agreedate =
            texureform.agreedate === "" || texureform.agreedate === null
              ? "2001-1-1"
              : texureform.agreedate;
          texureform.finisheddate =
            texureform.finisheddate === "" || texureform.finisheddate === null
              ? "2001-1-1"
              : texureform.finisheddate;
          texureform.returnfromcompanydate =
            texureform.returnfromcompanydate === "" ||
            texureform.returnfromcompanydate === null
              ? "2001-1-1"
              : texureform.returnfromcompanydate;
          texureform.outsidesenddate =
            texureform.outsidesenddate === "" ||
            texureform.outsidesenddate === null
              ? "2001-1-1"
              : texureform.outsidesenddate;
          texureform.returndate =
            texureform.returndate === "" || texureform.returndate === null
              ? "2001-1-1"
              : texureform.returndate;
          for (let i in texureform) {
            texureform[i] =
              texureform[i] === false
                ? "False"
                : texureform[i] === true
                ? "True"
                : texureform[i];
            for (let j in this.savepointscanner) {
              if (i == j && texureform[i] == "") {
                texureform[i] = this.savepointscanner[j];
              }
            }
          }
          // texureform保存进行传输的对象，savepointll重新获取之后数据，savepointscanner，在本地的数据模板
          let sw = sessionStorage.getItem("switch");
          let urlupdate =
            this.personbelong == 1 && this.cityname == "广分"
              ? this.publicdata.urllist.masterpage +
                "adminupdate" +
                "&classfy=" +
                this.form.property +
                "&city=" +
                this.cityname
              : this.publicdata.urllist.masterpage +
                "update" +
                "&classfy=" +
                this.form.property +
                "&city=" +
                this.cityname;
          let urladd =
            this.publicdata.urllist.masterpage +
            "add" +
            "&classfy=" +
            this.form.property +
            "&city=" +
            this.cityname;
          if (this.addcity == 2) {
            urlupdate = urlupdate.split("&city=")[0];
            urladd = urladd.split("&city=")[0];
          }
          if (sw == 1) {
            ///编辑状态
            //更新
            let data = {
              modeldatastr: JSON.stringify(texureform),
              listno: this.form.listno
            };
            axios
              .post(urlupdate, this.publicdata.transformRequest(data), {
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
              })
              .then(response => {
                console.log("提交结果1", response);
                if (isSave === 1) {
                  this.$emit("update:dialogvisible", false);
                }
                this.$emit("sureHandler");
                this.$message({
                  message: response.data,
                  type: "success"
                });
              })
              .catch(error => {
                console.log(error);
              });
          } else if (sw == 2) {
            ///新增状态
            //添加
            let data = { modeldatastr: JSON.stringify(texureform) };
            axios
              .post(urladd, this.publicdata.transformRequest(data), {
                headers: { "Content-Type": "application/x-www-form-urlencoded" }
              })
              .then(response => {
                // this.$emit("add");
                console.log("提交结果2", response);
                if (isSave === 1) {
                  this.$emit("update:dialogvisible", false);
                }
                this.$emit("sureHandler");
                this.$message({
                  message: "新增成功",
                  type: "success"
                });
              })
              .catch(error => {
                console.log(error);
              });
          }
        } else {
          setTimeout(() => {
            this.$message.error("必须选一属性值进行保存");
            let isError = document.getElementsByClassName("is-error");
            isError[0].querySelector("input").focus();
          }, 1);
          return false;
        }
      });
    },
    loadlist() {
      //下拉
      let arr = [];
      let loadList = JSON.parse(sessionStorage.getItem("loadList"));
      if (null != loadList) {
        for (let j in this.form) {
          for (let k in loadList.data) {
            if (loadList.data[k].ename === j) {
              let array = [];
              let list = loadList.data[k].data;
              for (let i in list) {
                array.push({ name: i, value: list[i] });
              }
              let namelist = j + "Value";
              this.optionlist[namelist] = array;
            }
          }
        }
      }
    },
    getdatedefaultnow() {
      let listnourl =
        this.publicdata.urllist.masterpage +
        "listnocreate" +
        "&city=" +
        this.cityname;
      axios.get(listnourl).then(response => {
        this.form.listno = response.data;
      });
    },
    getnewlist() {
      //下拉
      let selsearray = [];
      let repairarray = [];
      let arr1 = [];
      let arr2 = [];

      // let adminselseurl =
      //   this.publicdata.urllist.masterpage + "adminselsesmanlistload";
      // axios.get(adminselseurl).then(response => {
      //   for (let i in response.data) {
      //     arr1.push(response.data[i]);
      //   }
      // });

      let selseurl =
        this.publicdata.urllist.masterpage +
        "selsesmanlistload" +
        "&city=" +
        this.cityname;
      axios.get(selseurl).then(response => {
        for (let j in response.data) {
          arr1.push(response.data[j]);
        }
        for (let k in arr1) {
          selsearray.push({ name: k, value: arr1[k] });
        }
      });

      // this.newlist.businessbelongvalue = selsearray;
      this.optionlist.businessbelongValue = selsearray;

      // let adminrepairmanurl =
      //   this.publicdata.urllist.masterpage + "adminrepairmanlistload";
      // axios.get(adminrepairmanurl).then(response => {
      //   for (let k in response.data) {
      //     arr2.push({ name: k, value: response.data[k] });
      //   }
      // });
      // console.log(arr2, "123____");

      let repairmanurl =
        this.publicdata.urllist.masterpage +
        "repairmanlistload" +
        "&city=" +
        this.cityname;
      axios.get(repairmanurl).then(response => {
        for (let h in response.data) {
          arr2.push({ name: h, value: response.data[h] });
        }
        for (let k in arr2) {
          repairarray.push({ name: k, value: arr1[k] });
        }
      });
      // this.newlist.repairmanvalue = repairarray;
      this.optionlist.repairmanValue = repairarray;
    },
    getData() {
      //1:编辑 ，2：新增
      let sw = sessionStorage.getItem("switch");
      let jsonData = JSON.parse(sessionStorage.getItem("item"));
      if (sw == 1) {
        this.publicdata.getdata(this.form, jsonData); //获取当前点击单的信息
      }

      this.proshow = this.proshowbind == 1 ? true : false;
      this.loadlist(); //下拉数据
      this.getnewlist(); //下拉数据
    }
  },
  mounted() {
    this.getData(); //区别于编辑和新建的获取数据
    let sw = sessionStorage.getItem("switch");
    if (sw == 2) {
      this.getdatedefaultnow(); //获取单号
    }
  }
};
</script>
<style>
.el-input__inner {
  border: 1px solid #303133;
}
.el-table .cell {
  font-weight: bolder;
}
.el-table--border,
.el-table--group {
  border: 3px solid #303133;
}
.el-checkbox__inner {
  border: 1px solid #303133;
}
.el-textarea__inner {
  border: 1px solid #303133;
}
/* .el-button {
  border: 1px solid #303133;
} */
.el-input.is-disabled .el-input__inner {
  border-color: #303133;
}
.el-textarea__inner {
  height: 150px;
}
</style>
