<template>
  <div>
    <i class="el-icon-question" @click="dialogVisible = true"></i>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="50%">
      <span>
        界面操作：
        <br />点击更多，显示出其他的查询条件
        <br />关键字查询是除了时间之外的关键字
        <br />输入时间对应的时间是发广分时间/广分接收时间
        <br />弹框操作：
        <br />编辑/新建是不能够对单号进行修改
        <br />接收时间是显示当天时间
        <br />对单据进行打印的时候编辑的部分被隐藏，只需要单击红色按钮 ”继续编辑“ 就会回到编辑
        <br />如果下拉框中没有你想要的选项，可以直接选中右边的输入框进行输入
        <br />单号在编辑和新增的请款下都是不能对其进行输入
        <br />在浏览器打印页面上，选择“更多设置”，将“页眉和页脚”选项给去掉勾选
        <br />弹框=>附加项：
        <br />导出：生成json配置
        <br />快捷键设置：Q保存
        <br />
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      dialogVisible: false
    };
  },
  methods: {}
};
</script>

