<template>
  <div>
    <div id="dispatchAll">
      <div style="text-align:center;">
        <h1>南方测绘仪器有限公司维修中心</h1>
        <h2>修理登记/取机单</h2>
        <div style="margin-left: 230px;">
          分公司 查询单号：
          <input v-model="form.listno" :readonly="wirted" style="width:100px;border:none" />
        </div>
      </div>
      <hr />
      <div class="row">
        <span>客户名称：</span>
        <el-input
          style="width:280px"
          class="inputclass"
          v-model="form.customerName"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>邮政编码：</span>
        <el-input
          style="width:280px"
          class="inputclass"
          v-model="form.stampno"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>地址：</span>
        <el-input
          style="width:300px"
          class="inputclass"
          v-model="form.address"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>联系人：</span>
        <el-input
          style="width:300px"
          class="inputclass"
          v-model="form.connectionman"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>电话1：</span>
        <el-input
          style="width:300px"
          class="inputclass"
          v-model="form.tel1"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>电话2：</span>
        <el-input
          style="width:300px"
          class="inputclass"
          v-model="form.tel2"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <div>
          <div class="row">
            <span>仪器名称：</span>
            <el-input
              style="width:100px"
              class="inputclass"
              v-model="form.instrumentName"
              size="mini"
              :readonly="wirted"
            ></el-input>，
            <span>仪器型号：</span>
            <el-input
              style="width:150px"
              class="inputclass"
              v-model="form.model"
              size="mini"
              :readonly="wirted"
            ></el-input>，
            <span>数量：</span>
            <el-input
              style="width:50px"
              class="inputclass"
              v-model="form.cont"
              size="mini"
              :readonly="wirted"
            ></el-input>
          </div>
          <div class="customWidth_look">
            <span>保修卡号：</span>
            <el-input
              style="width:150px"
              class="inputclass"
              v-model="form.repairpromisecardno"
              size="mini"
              :readonly="wirted"
            ></el-input>，
            <span>购买日期：</span>
            <el-date-picker
              style="width:150px"
              v-model="form.purchase"
              type="date"
              size="mini"
              :readonly="wirted"
            ></el-date-picker>
          </div>
        </div>
        <!-- <span>机身号码：</span>
        <el-input
          style="width:120px"
          class="inputclass"
          v-model="form.instrumentNo"
          size="mini"
          :readonly="wirted"
        ></el-input>-->
      </div>
      <div>
        <span>机身号码：</span>
        <el-input
          style="width:520px"
          class="inputclass"
          v-model="form.instrumentNo"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <el-checkbox-group v-model="form.repair">
          <el-checkbox label="维修" name="type" :disabled="wirted"></el-checkbox>
        </el-checkbox-group>
        <el-checkbox-group v-model="form.repairimmediately">
          <el-checkbox label="维修加急" name="type" :disabled="wirted"></el-checkbox>
        </el-checkbox-group>
        <el-checkbox-group v-model="form.docimasy">
          <el-checkbox label="检定" name="type" :disabled="wirted"></el-checkbox>
        </el-checkbox-group>
        <el-checkbox-group v-model="form.docimasyimmediately">
          <el-checkbox label="检定加急" name="type" :disabled="wirted"></el-checkbox>
        </el-checkbox-group>
        <span>，指定检定单位：</span>
        <el-input
          style="width:320px"
          class="inputclass"
          v-model="form.defaultdocimasyunit"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>随机附件1：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment1"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>附件1数量：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment1cont"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>随机附件2：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment2"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>附件2数量：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment2cont"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>随机附件3：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment3"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>附件3数量：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment3cont"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>随机附件4：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment4"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>附件4数量：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment4cont"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>随机附件5：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment5"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>附件5数量：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment5cont"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>随机附件6：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment7"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>附件6数量：</span>
        <el-input
          style="width:90px"
          class="inputclass"
          v-model="form.attachment6cont"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <div class="inputlook_word">其他附件</div>
        <el-input class="input_height inputclass" v-model="form.otherattachment" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <div class="inputlook_word">仪器故障简述</div>
        <el-input class="input_height1 inputclass" v-model="form.bugdescribe" :readonly="wirted"></el-input>
      </div>
      <div class="row">
        <span>接收经办人：</span>
        <el-input
          style="width:140px"
          class="inputclass"
          v-model="form.rechandlerman"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <span>接收日期：</span>
        <el-date-picker
          style="width:140px"
          v-model="form.recdate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>，
        <span>送机人(签名)：</span>
        <el-input
          style="width:140px"
          class="inputclass"
          v-model="form.instrumentsendman"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="row">
        <span>取机经办：</span>
        <el-input
          style="width:140px"
          class="inputclass"
          v-model="form.takepassman"
          size="mini"
          :readonly="wirted"
        ></el-input>，
        <!-- <span>送机人(签名)：</span>deliverydate -->
        <!-- <el-input style="width:140px" class="inputclass" size="mini" :readonly="wirted"></el-input>， -->
        <span>取发日期：</span>
        <el-date-picker
          style="width:140px"
          class="inputclass"
          v-model="form.deliverydate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>，
        <span>取机人(签名)：</span>
        <el-input
          style="width:140px"
          class="inputclass"
          v-model="form.takeman"
          size="mini"
          :readonly="wirted"
        ></el-input>
      </div>
      <div class="customWidth_look">
        <span>收款人：</span>
        <el-input
          style="width:140px"
          class="inputclass"
          v-model="form.moneyrecman"
          size="mini"
          :readonly="wirted"
        ></el-input>
        <span>收款日：</span>
        <el-date-picker
          style="width:140px"
          v-model="form.moneyrecdate"
          type="date"
          size="mini"
          :readonly="wirted"
        ></el-date-picker>
      </div>
      <div class="tips">
        说明：
        <br />1、该机器自取机之日三个月内如出现如果出现与原维修项目相同的故障，本中心负责免费维修(除约定事项外)。
        <br />2、本中心实行免费咨询，从南方测绘仪器公司售出的测绘仪器至少保修一年。免费保修服务时，请出示有效保修卡的用户保存联。
        <br />3、所有送修之仪器，三个月内无论修好或不修的，客户都应取走，超过三个月仍不取走，本公司自行处理。
        <br />4、根据国家有关规定，因下列情况造成仪器故障的，不在免费维修之列：
        <br />a.用户因使用不当，或未按照仪器使用说明进行操作而造成的故障；
        <br />b.仪器发生故障后，用户自行拆开检修，或在非本公司授权的维修单位进行维修；
        <br />d.本单无本公司盖章无效。
      </div>
      <div class="font">南方测绘仪器有限公司广州分公司</div>
      <hr />
      <div class="customWidth_look">
        <div>
          地址：
          <input style="width:500px;border:none" />
        </div>
        <div>
          邮编:
          <input style="width:100px;border:none" />
        </div>
      </div>
      <div class="customWidth_look">
        <div>
          电话：
          <input style="width:500px;border:none" />
        </div>
        <div>
          传真：
          <input style="width:100px;border:none" />
        </div>
      </div>
      <div>*查询时请报右上角查询单号。</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    form: {}
  },
  data() {
    return {
      wirted: true
    };
  },
  methods: {},
  mounted() {
    let sw = sessionStorage.getItem("switch");
    if (sw == 1) {
      let itemdate = JSON.parse(sessionStorage.getItem("item"));
      this.publicdata.getdata(this.form, itemdate);
    }
  }
};
</script>
<style>
#dispatchAll {
  font-weight: 600;
  font-family: "Microsoft YaHei";
  color: black;
}
#dispatchAll .el-icon-date {
  display: none;
}
#dispatchAll span {
  color: black;
  font-weight: 600;
}
.el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: black;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  border-color: black;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: black;
}
.row {
  display: flex;
  margin: 2px 0 3px 0;
}
.inputclass input {
  border-color: black;
  color: black;
}
.tips {
  font-size: 16px;
}
.customWidth_look {
  display: flex;
}
.inputlook {
  width: 120px;
}
.inputlook_word {
  width: 20px;
  line-height: 17px;
}
.input_height input {
  height: 64px;
}
.input_height1 input {
  height: 90px;
}
.font {
  text-align: end;
  font-size: 27px;
  font-weight: bolder;
}
#printTest.el-form-item__label {
  padding: 6px 12px 6px 0;
}

#printTest.el-form-item__content {
  line-height: 24px;
}
</style>


