<template>
  <div>
    <el-button size="small" type="primary" @click="primm">查看数据</el-button>
    <el-button size="small" type="primary" @click="repicture">生成图片</el-button>
    <el-table :data="formData" style="width:100%">
      <template v-for="(item,index) in formHeader">
        <el-table-column :prop="item.prop" :label="item.label" width="100" sortable align="center"></el-table-column>
      </template>
    </el-table>
  </div>
</template>
<script>
export default {
  props: { selectarr: {} },
  data() {
    return {
      formData: [],
      formHeader: [],
      listData: [],
      listHeader: []
    };
  },
  methods: {
    primm() {
      this.listHeader = this.publicdata.formtemplateHeader;
      console.log(
        this.listHeader,
        this.formHeader,
        this.formData,
        this.selectarr,
        "--"
      );
    },
    repicture() {
      this.formData = this.selectarr["陈卫强"];
      this.formHeader = [];
      for (let i in Object.keys(this.formData[0])) {
        this.formHeader.push({
          label: Object.keys(this.formData[0])[i],
          prop: Object.keys(this.formData[0])[i]
        });
      }
      console.log(
        this.formData,
        this.formHeader,
        this.selectarr["陈卫强"],
        "生成图片"
      );
    }
  }
};
</script>

