<template>
  <section>
    <!--工具条-->
    <el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
      <el-form :inline="true" :model="filters">
        <el-form-item>
          <el-input v-model="filters.listno" placeholder="输入查询单号" style="width:120px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input
            v-model="filters.companylistno"
            placeholder="广分单号"
            style="width:120px"
            v-show="cityname == '广分' || cityname == '恒业' || cityname == '测绘大厦'"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="filters.keyword" placeholder="关键字" style="width:120px"></el-input>
        </el-form-item>
        <el-form-item>
          <el-date-picker
            v-model="filters.startdatetime"
            type="date"
            placeholder="开始时间"
            style="width:150px"
          ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-date-picker
            v-model="filters.enddatetime"
            type="date"
            placeholder="结束时间"
            style="width:150px"
          ></el-date-picker>
        </el-form-item>
        <!-- <el-form-item>
          <el-button type="primary" v-on:click="getdata">获取列表</el-button>
        </el-form-item>-->
        <el-form-item>
          <el-button type="primary" size="small" v-on:click="getdata">查询</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" size="small" @click="handleAdd">新增</el-button>
        </el-form-item>
        <!-- <el-form-item>
          <el-button type="danger" size="small" @click="refresh">刷新</el-button>
        </el-form-item>-->
        <el-form-item>
          <el-button type="primary" size="small" @click="moresearchbutton">更多</el-button>
        </el-form-item>
        <el-form-item>
          <router-link
            :to="{path:'/Deduction',query:{city:cityname}}"
            v-show="usertype == '_repairrecordermanager' || usertype == '_supermanager'"
          >提成计算</router-link>
        </el-form-item>
        <!-- <el-form-item>
          <router-link :to="{path:'/keepFix',query:{city:cityname}}">保修卡档案</router-link>
        </el-form-item>-->
        <el-form-item>
          <Notification></Notification>
        </el-form-item>
        <div v-show="moresearch">
          <el-form-item v-show="belong" label="地区">{{cityname}}</el-form-item>
          <el-form-item v-show="adminbelong" label="当前所在地区">
            <el-select
              v-model="cityname"
              filterable
              allow-create
              default-first-option
              placeholder="请选择"
              style="width:100px"
            >
              <el-option
                v-for="item in belongvalue"
                :key="item.name"
                :label="item.label"
                :value="item.label"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <!-- <el-form-item v-show="cityname=='广分'">
              所属分公司:
              <el-select
                v-model="belongname"
                filterable
                allow-create
                default-first-option
                placeholder="请选择"
                style="width:100px"
              >
                <el-option
                  v-for="item in belonglistvalue"
                  :key="item.name"
                  :label="item.label"
                  :value="item.label"
                ></el-option>
              </el-select>
            </el-form-item>-->
            <el-form-item label="所属分公司" v-show="cityname=='广分'">
              <el-input v-model="belongname" style="width:100px"></el-input>
            </el-form-item>
            <!-- <el-form-item label="客户名称">
                <el-autocomplete
                  class="inline-input"
                  v-model="form.customerName"
                  :fetch-suggestions="((queryString,cb)=>{queryUnit(queryString,cb,'customerName')})"
                  placeholder="请输入内容"
                  style="width:400px"
                  @input="changeInput($event)"
                  clearable
                ></el-autocomplete>
            </el-form-item>-->
            <!-- 权限控制表单 -->
            <el-form-item label="类型">
              <el-select
                v-model="personlistvalue"
                filterable
                allow-create
                default-first-option
                placeholder="请选择"
                style="width:100px"
              >
                <el-option
                  v-for="item in personlist"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-form-item>
            <!-- 是否完成 -->
            <el-form-item label="状态">
              <el-select
                v-model="finishvalue"
                filterable
                allow-create
                default-first-option
                placeholder="请选择"
                style="width:100px"
              >
                <el-option
                  v-for="item in finishlist"
                  :key="item.name"
                  :label="item.name"
                  :value="item.label"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-form-item>
        </div>
      </el-form>
    </el-col>
    <!-- :data="this.tableData.slice((currentPage - 1)* pagesize , currentPage*pagesize)" -->

    <!--列表-->
    <el-table
      v-loading="firstplayFlag"
      highlight-current-row
      :data="this.tableData"
      border
      size="mini"
    >
      <!-- <el-table-column fixed="left" type="index" width="70"></el-table-column> -->
      <el-table-column fixed label="序号" type="index" width="40" align="center">
        <template slot-scope="scope">
          <span>{{(currentPage-1) * pagesize + scope.$index + 1}}</span>
        </template>
      </el-table-column>
      <el-table-column fixed label="操作" width="170" align="center">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)"
            v-show="buttonshowcheck"
          >查看</el-button>
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)" v-show="buttonshow">编辑</el-button>
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
            v-show="buttonshow"
          >删除</el-button>
        </template>
      </el-table-column>
      <template v-for="(item,index) in this.tabHead">
        <!-- <el-table-column
          v-if="(item.prop=='name')"
          fixed
          :prop="item.prop"
          :label="item.label"
          sortable
          highlight-current-row="true"
        ></el-table-column>-->
        <el-table-column :prop="item.prop" :label="item.label" width="100" sortable align="center"></el-table-column>
      </template>
    </el-table>
    <!-- size-change pageIndex 改变当前显示的页数 current-change rows 要跳转到第几页 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[5, 10, 20, 40]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="this.totalPage"
    ></el-pagination>

    <!--工具条-->
    <!-- <el-col :span="24" class="toolbar">
      <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">批量删除</el-button>
      <el-pagination
        layout="prev, pager, next"
        @current-change="handleCurrentChange"
        :page-size="20"
        :total="total"
        style="float:right;"
      ></el-pagination>
    </el-col>-->

    <!-- 新编辑界面 -->
    <div v-if="maintenanceVisible">
      <el-dialog
        :title="title"
        customClass="customWidth"
        :visible.sync="maintenanceVisible"
        @close="getdata"
      >
        <maintenance
          :dialogvisible.sync="maintenanceVisible"
          :cityname="cityname"
          :personbelong="personbelong"
          :addcity="addcity"
          :perosoncardll="perosoncardll"
          :proshowbind="proshow"
          @sureHandler="getdata()"
        ></maintenance>
      </el-dialog>
    </div>
  </section>
</template>

<script>
import util from "../../common/js/util";
import axios from "axios";
//import NProgress from 'nprogress'
import {
  getUserListPage,
  removeUser,
  batchRemoveUser,
  editUser,
  addUser
} from "../../api/api";
import maintenance from "./maintenance";
import Notification from "./notification";

export default {
  components: { maintenance, Notification },
  data() {
    return {
      totalPage: 0,
      proshow: "", //成本/厂家收费
      moresearch: true,
      userdata: JSON.parse(sessionStorage.getItem("userData")),
      usertype: sessionStorage.getItem("userType"),
      reloadno: sessionStorage.getItem("reloadno"),
      firstplayFlag: false,
      perosoncardll: null,
      buttonshow: Boolean,
      buttonshowcheck: Boolean,
      personbelong: "",
      addcity: "",
      belong: Boolean,
      adminbelong: Boolean,
      personlistvalue: "",
      belonglistvalue: {},
      personlist: {},
      finishvalue: "full",
      finishlist: [
        { name: "全部", label: "full" },
        { name: "已完成", label: "true" },
        { name: "未完成", label: "false" }
      ],
      belongvalue: {},
      belongname: "",
      cityname: JSON.parse(sessionStorage.getItem("userData")).city,
      title: "",
      currentPage: 1,
      pagesize: 5,
      filters: {
        listno: "",
        companylistno: "",
        keyword: "",
        startdatetime: "",
        enddatetime: ""
      },
      users: [],
      total: 0,
      page: 1,
      listLoading: false,
      sels: [], //列表选中列
      editFormVisible: false, //编辑界面是否显示
      maintenanceVisible: false, //新编辑界面是否可见
      editLoading: false,
      editFormRules: {
        name: [{ required: true, message: "请输入姓名", trigger: "blur" }]
      },
      //编辑界面数据
      editForm: {
        id: 0,
        name: "",
        sex: -1,
        age: 0,
        birth: "",
        addr: ""
      },

      addFormVisible: false, //新增界面是否显示
      addLoading: false,
      addFormRules: {
        name: [{ required: true, message: "请输入姓名", trigger: "blur" }]
      },
      //新增界面数据
      addForm: {
        name: "",
        sex: -1,
        age: 0,
        birth: "",
        addr: ""
      },
      tableData: [],
      tabHead: []
    };
  },
  methods: {
    changeInput(e) {
      this.$forceUpdate();
      console.log("表单进行强刷");
    },
    moresearchbutton() {
      this.moresearch = !this.moresearch;
    },
    //获取用户列表
    getUsers() {
      let para = {
        page: this.page,
        name: this.filters.name
      };
      this.listLoading = true;
      //NProgress.start();
      getUserListPage(para).then(res => {
        this.total = res.data.total;
        this.users = res.data.users;
        this.listLoading = false;
        //NProgress.done();
      });
    },
    //删除
    handleDel: function(index, row) {
      this.$confirm("确认删除该记录吗?", "提示", {
        type: "warning"
      })
        .then(() => {
          this.listLoading = true;
          //NProgress.start();
          let para = { id: row.id };
          removeUser(para).then(res => {
            this.listLoading = false;
            //NProgress.done();
            this.$message({
              message: "删除成功",
              type: "success"
            });
            this.getUsers();
          });
        })
        .catch(() => {});
    },
    handleDelete(index, row) {
      console.log(index, row.listno, this.userdata);
      let urldelete =
        this.publicdata.urllist.masterpage +
        "delete" +
        "&city=" +
        this.cityname;
      let data = {
        listno: row.listno,
        userName: this.userdata.name,
        role: this.userdata.role
      };
      this.$confirm("确认要删除吗？")
        .then(_ => {
          axios
            .post(urldelete, this.publicdata.transformRequest(data), {
              headers: { "Content-Type": "application/x-www-form-urlencoded" }
            })
            .then(response => {
              console.log("删除数据", response);
              this.getdata();
              this.$message({
                message: "删除成功",
                type: "success"
              });
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(_ => {});
    },
    //显示编辑界面
    handleEdit: function(index, row) {
      let jjon = JSON.stringify(row);
      sessionStorage.setItem("item", jjon);
      sessionStorage.setItem("switch", 1);
      this.maintenanceVisible = true;
      this.title = "编辑";
    },
    //显示新增界面
    handleAdd: function() {
      this.publicdata.fathervisble = true;
      this.title = "新增";
      this.maintenanceVisible = true;
      sessionStorage.setItem("switch", 2);
    },
    //批量删除
    batchRemove: function() {
      var ids = this.sels.map(item => item.id).toString();
      this.$confirm("确认删除选中记录吗？", "提示", {
        type: "warning"
      })
        .then(() => {
          this.listLoading = true;
          //NProgress.start();
          let para = { ids: ids };
          batchRemoveUser(para).then(res => {
            this.listLoading = false;
            //NProgress.done();
            this.$message({
              message: "删除成功",
              type: "success"
            });
            this.getUsers();
          });
        })
        .catch(() => {});
    },
    getdata() {
      this.firstplayFlag = true;
      //加载信息
      //获取信息
      let dtime = new Date(this.filters.time);
      let resDate =
        dtime.getFullYear() +
        "/" +
        this.publicdata.pushtime(dtime.getMonth() + 1) +
        "/" +
        this.publicdata.pushtime(dtime.getDate());
      let starttime = this.publicdata.gridtime(this.filters.startdatetime);
      let endtime = this.publicdata.gridtime(this.filters.enddatetime);
      console.log(this.userdata.name, this.cityname, "检测----");
      let newUrl =
        this.publicdata.urllist.masterpage +
        "gfdataquery" +
        "&belong=" +
        this.belongname +
        "&city=" +
        this.cityname;
      let url =
        this.publicdata.urllist.masterpage +
        "dataquery" +
        "&belong=" +
        this.belongname +
        "&city=" +
        this.cityname;
      let data = {
        listno: this.filters.listno,
        keyword: this.filters.keyword,
        pageIndex: this.currentPage,
        rows: this.pagesize,
        companylistno: this.filters.companylistno,
        //设置每年的第一天
        startdatetime:
          this.filters.startdatetime == ""
            ? this.publicdata.selectTime("year", "/") - 1 + "/1/1"
            : starttime,
        // startdatetime:
        //   this.filters.startdatetime == "" ? "2019/1/1" : starttime,
        //现在的时间节点
        enddatetime:
          this.filters.enddatetime == ""
            ? this.publicdata.selectTime("now", "/")
            : endtime,
        repaircondition: this.personlistvalue,
        finished: this.finishvalue
      };
      let newdata = {
        listno: this.filters.listno,
        keyword: this.filters.keyword,
        companylistno: this.filters.companylistno,
        pageIndex: this.currentPage,
        rows: this.pagesize,
        startdatetime:
          this.filters.startdatetime == ""
            ? this.publicdata.selectTime("year", "/") - 1 + "/1/1"
            : starttime,
        // startdatetime:
        //   this.filters.startdatetime == "" ? "2019/1/1" : starttime,
        enddatetime:
          this.filters.enddatetime == ""
            ? this.publicdata.selectTime("now", "/")
            : endtime,
        repaircondition: this.personlistvalue
      };
      let urldate = this.finishvalue == "full" ? newdata : data;
      // if (this.cityname == "广分") {
      //   urldate["sendcompanystarttime"] = urldate.startdatetime;
      //   delete urldate.startdatetime;
      //   urldate["sendcompanyendtime"] = urldate.enddatetime;
      //   delete urldate.enddatetime;
      // }
      // let frontlistUrl =
      //   this.userdata.role === "_repairmanager" ||
      //   this.userdata.role === "_repairrecordermanager"
      //     ? newUrl
      //     : url;
      let frontlistUrl = this.cityname == "广分" ? newUrl : url;
      axios
        // 9140598
        .post(frontlistUrl, this.publicdata.transformRequest(urldate), {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        })
        .then(response => {
          this.totalPage = response.data.userdata.total;
          this.firstplayFlag = false;
          let fromData = response.data.tableData;
          let formHead = response.data.tabHead;
          let headArray = [];
          const d = {
            单号: "001",
            广分维修单号: "002",
            分项: "003",
            属地: "004",
            客户名称: "005",
            原始单据: "006",
            仪器名称: "007",
            数量: "008",
            机身号码: "009",
            接收日期: "010",
            价格: "011",
            价格2: "012"
          };
          for (let h in formHead) {
            for (let k in d) {
              if (formHead[h].label === k) {
                headArray.push(formHead[h]);
                formHead.splice(h, 1);
              }
            }
            // if (d[formHead[h].label]) {
            //   headArray.push(formHead[h]);
            //   formHead.splice(h, 1);
            // }
          }
          let formHead_D = headArray.concat(formHead);
          // for (let k in formHead) {
          //   headArray.push(formHead[k]);
          // }

          // for (let k in formHead) {
          //   if (formHead[k].label === "单号") {
          //     headArray[0] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "广分维修单号") {
          //     headArray[1] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "分项") {
          //     headArray[2] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "属地") {
          //     headArray[3] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "客户名称") {
          //     headArray[4] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "原始单据") {
          //     headArray[5] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "仪器名称") {
          //     headArray[6] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "数量") {
          //     headArray[7] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "机身号码") {
          //     headArray[8] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "接收日期") {
          //     headArray[9] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "价格") {
          //     headArray[10] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   if (formHead[k].label === "价格2") {
          //     headArray[11] = formHead[k];
          //     formHead.splice(k, 1);
          //   }
          //   headArray.push(formHead[k]);
          // }
          const ss = {
            repair: "维修",
            repairimmediately: "维修加急",
            docimasy: "检定",
            docimasyimmediately: "检定加急"
          };
          for (let i in fromData) {
            for (let j in fromData[i]) {
              fromData[i][j] =
                this.publicdata.selecFullChar(fromData[i][j], "1899/") ||
                this.publicdata.selecFullChar(fromData[i][j], "2001/") ||
                fromData[i][j] === "0.0000" ||
                fromData[i][j] === "0" ||
                fromData[i][j] === "111"
                  ? ""
                  : this.publicdata.timetexure(fromData[i][j])
                  ? (fromData[i][j] = fromData[i][j].split(" ")[0])
                  : fromData[i][j];
            }
            for (let jj in fromData[i]) {
              for (let ii in ss) {
                if (jj === ii) {
                  if (fromData[i][jj] === "是") {
                    fromData[i].options = ss[ii];
                  }
                }
              }
            }
          }
          this.tableData = fromData;
          this.tabHead = formHead_D;
          console.log(formHead, fromData, "-----------获取123------");
        })
        .catch(error => {
          console.log(error);
          this.showMessage(2000, "请求数据失败" < "error");
        });
    },
    // 点击第几页
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      // this.tableData = [];
      this.getdata();
      console.log(this.currentPage, this.tableData, "显示跳转页数");
    },
    // 控制每页下拉的数据
    handleSizeChange(size) {
      this.pagesize = size;
      this.getdata();
      console.log(this.pagesize, "显示页数");
    },
    showMessage(duration, message, type) {
      if (duration == "") {
        duration = 5000;
      }
      this.$message({
        duration: duration,
        message: message,
        type: type
      });
    },
    getloadlist() {
      let listUrl =
        this.publicdata.urllist.masterpage +
        "datalistload" +
        "&city=" +
        this.cityname;
      this.publicdata.gethttpdata(listUrl, "loadList");
      let adminselsesmanlisturl =
        this.publicdata.urllist.masterpage +
        "adminselsesmanlistload" +
        "&city=" +
        this.cityname;
      this.publicdata.gethttpdata(
        adminselsesmanlisturl,
        "adminselsesmanlistload"
      );
      let selsesmanlisturl =
        this.publicdata.urllist.masterpage +
        "selsesmanlistload" +
        "&city=" +
        this.cityname;
      this.publicdata.gethttpdata(selsesmanlisturl, "selsesmanlistload");
      let adminrepairmanlistyrl =
        this.publicdata.urllist.masterpage +
        "adminrepairmanlistload" +
        "&city=" +
        this.cityname;
      this.publicdata.gethttpdata(
        adminrepairmanlistyrl,
        "adminrepairmanlistload"
      );
      let repairmanlisturl =
        this.publicdata.urllist.masterpage +
        "repairmanlistload" +
        "&city=" +
        this.cityname;
      this.publicdata.gethttpdata(repairmanlisturl, "repairmanlistload");
      this.getcomppery();
    },
    getcomppery() {
      let arr = [];
      let belongarr = [];
      let aa = JSON.parse(sessionStorage.getItem("cityList"));
      let bb = JSON.parse(sessionStorage.getItem("loadList"));
      if (aa != undefined) {
        let citylist = aa.data;
        for (let i in citylist) {
          arr.push({ name: i, label: citylist[i] });
        }
        this.belongvalue = arr;
        let city = this.userdata.city;
        if (city == "") {
          this.adminbelong = true;
          this.belong = false;
        } else if (city != "") {
          this.belong = true;
          this.adminbelong = false;
        }
      }
      if (bb != undefined) {
        let belonglist = bb.data;
        for (let i in belonglist) {
          if (belonglist[i].name == "属地") {
            let list = belonglist[i].data;
            for (let j in list) {
              belongarr.push({ name: j, label: list[j] });
            }
            this.belonglistvalue = belongarr;
          }
        }
      }
    },
    httpGetTable() {
      let type = sessionStorage.getItem("userType");
      // let cityname = JSON.parse(sessionStorage.getItem("userData")).city;
      //1,开启admin，2，关闭
      if (null != type) {
        switch (type) {
          case "_accountant": //财务
            this.perosoncardll = true; //控制表格数据是否可以编辑
            this.buttonshow = false; //控制编辑和删除是否可见
            this.buttonshowcheck = true; //控制查看按钮是否可见
            this.addcity = 1; //控制post请求上是否加上city
            this.personbelong = 2; //控制在保存的时候是否加上admin
            this.personlistvalue = ""; //默认获取列表
            this.proshow = 2; //成本/厂家收费
            this.personlist = [
              { value: "", label: "全部" },
              { value: "repair", label: "维修" },
              { value: "repairimmediately", label: "维修加急" },
              { value: "docimasy", label: "检定" },
              { value: "docimasyimmediately", label: "检定加急" }
            ];
            break;
          case "_docimasymanager": //检定管理员
            this.perosoncardll = false;
            this.buttonshow = true;
            this.buttonshowcheck = false;
            this.addcity = 1;
            // this.addcity = this.cityname == "广分" ? 1 : 2;
            this.personbelong = 1;
            this.personlistvalue = "检定";
            this.proshow = 1;
            this.personlist = [
              { value: "", label: "全部" },
              { value: "repair", label: "维修" },
              { value: "repairimmediately", label: "维修加急" },
              { value: "docimasy", label: "检定" },
              { value: "docimasyimmediately", label: "检定加急" }
            ];
            break;
          case "_repairman": //维序员
            this.perosoncardll = false;
            this.buttonshow = true;
            this.buttonshowcheck = false;
            this.addcity = 1;
            this.personbelong = 2;
            this.personlistvalue = "";
            this.proshow = 2;
            this.personlist = [
              { value: "", label: "全部" },
              { value: "repair", label: "维修" },
              { value: "repairimmediately", label: "维修加急" },
              { value: "docimasy", label: "检定" },
              { value: "docimasyimmediately", label: "检定加急" }
            ];
            break;
          case "_repairmanager": //维修管理员
            this.buttonshow = true;
            this.buttonshowcheck = false;
            this.perosoncardll = false;
            this.addcity = 1;
            // this.addcity = this.userdata.city == "广分" ? 1 : 2;
            this.personbelong = 1;
            this.personlistvalue = "维修";
            this.proshow = 2;
            this.personlist = [
              { value: "", label: "全部" },
              { value: "repair", label: "维修" },
              { value: "repairimmediately", label: "维修加急" },
              { value: "docimasy", label: "检定" },
              { value: "docimasyimmediately", label: "检定加急" }
            ];
            break;
          case "_repairrecordermanager": //维修登记管理员
            this.buttonshow = true;
            this.buttonshowcheck = false;
            this.perosoncardll = false;
            this.addcity = 1;
            this.personbelong = 1;
            this.personlistvalue = "";
            this.proshow = 1;
            this.personlist = [
              { value: "", label: "全部" },
              { value: "repair", label: "维修" },
              { value: "repairimmediately", label: "维修加急" },
              { value: "docimasy", label: "检定" },
              { value: "docimasyimmediately", label: "检定加急" }
            ];
            break;
          default:
            this.buttonshow = true;
            this.buttonshowcheck = false;
            this.addcity = 1;
            this.personbelong = 2;
            this.personlistvalue = "";
            this.perosoncardll = false;
            this.proshow = 2;
            this.personlist = [
              { value: "", label: "全部" },
              { value: "repair", label: "维修" },
              { value: "repairimmediately", label: "维修加急" },
              { value: "docimasy", label: "检定" },
              { value: "docimasyimmediately", label: "检定加急" }
            ];
            break;
        }
      }
    }
    // refresh() {
    //   console.log(11);
    //   this.getdata();
    //   this.filters.listno = "";
    //   this.filters.companylistno = "";
    //   this.filters.keyword = "";
    //   this.filters.startdatetime = "";
    //   this.filters.enddatetime = "";
    //   this.cityname = JSON.parse(sessionStorage.getItem("userData")).city;
    //   this.belongname = "";
    //   this.personlistvalue = "全部";
    //   this.finishvalue = "全部";
    // }
  },
  mounted() {
    if (this.reloadno == 1) {
      window.location.reload();
      sessionStorage.setItem("reloadno", 2);
    }
    this.getdata(); //获取列表数据
    this.getloadlist();
    this.cityname = this.userdata.city === "" ? "广分" : this.userdata.city;
    this.httpGetTable(); //权限管理
  }
};
</script>

<style>
.customWidth {
  width: 98%;
}
.el-table--border,
.el-table--group {
  border: 1px solid #303133;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #303133;
}
.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  border-right: 1px solid #303133;
}
</style>