<template>
  <div>
    <el-tabs v-model="activeName">
      <el-tab-pane label="选取文件" name="first">
        <el-upload
          class="upload-demo"
          ref="upload"
          accept=".xls, .xlsx"
          action="https://jsonplaceholder.typicode.com/posts/"
          :on-change="upload"
          :show-file-list="false"
          :auto-upload="false"
        >
          <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
          <el-button size="small" type="primary" @click="uploaddata">更新数据</el-button>
        </el-upload>
        <hr />
        <template v-for="(item,index) of SheetNames.SheetNames">
          <el-button size="small" @click="selectform(item, index)">{{item}}</el-button>
        </template>
        <!-- <hr /> -->
        <formPaginAtion :formdata="this.tableData" :formhead="this.tabHead"></formPaginAtion>
      </el-tab-pane>
      <el-tab-pane label="报表输出" name="fourth">
        <relook :city="city"></relook>
      </el-tab-pane>
    </el-tabs>
    <!-- <div>
      <royaltyform :selectarr="selectarr"></royaltyform>生成图片组件
    </div>-->
  </div>
</template>
<script>
import royaltyform from "../royaltyform";
import relook from "./reLooking";
import formPaginAtion from "../../formPaginAtion";
import Axios from "axios";
export default {
  components: { royaltyform, relook, formPaginAtion },
  data() {
    return {
      activeName: "first",
      summarydata: [],
      tableData: [],
      tabHead: [],
      selectarr: {},
      SheetNames: [],
      formNum: "",
      city: this.$route.query.city,
    };
  },
  methods: {
    upload(file, fileList) {
      console.log("file", file, fileList);
      let files = { 0: file.raw };
      this.readExcel1(files);
    },
    readExcel1(files) {
      //表格导入
      var that = this;
      console.log(files, "-----------files--------------");
      if (files.length <= 0) {
        //如果没有文件名
        return false;
      } else if (!/\.(xls|xlsx)$/.test(files[0].name.toLowerCase())) {
        this.$Message.error("上传格式不正确，请上传xls或者xlsx格式");
        return false;
      }
      const fileReader = new FileReader();
      let XLSX = require("xlsx");
      fileReader.onload = ev => {
        const data = ev.target.result;
        const workbook = XLSX.read(data, {
          type: "binary"
        });
        this.SheetNames = workbook;
        this.summarydata = [];
        for (let i in this.SheetNames.SheetNames) {
          let name = this.SheetNames.SheetNames[i];
          this.summarydata[name] = [];
          this.summarydata[name].push(
            XLSX.utils.sheet_to_json(this.SheetNames.Sheets[name])
          );
        }
      };
      fileReader.readAsBinaryString(files[0]);
    },

    selectform(item, index) {
      let listdate = "单据日期";
      let XLSX = require("xlsx");
      const wsname = this.SheetNames.SheetNames[index]; //去表
      // this.tableData = XLSX.utils.sheet_to_json(this.SheetNames.Sheets[wsname]); //生成json表格内容

      let texureform = this.summarydata[item][0];
      for (let j in texureform) {
        texureform[j][listdate] =
          texureform[j][listdate].toString().indexOf("/") != -1
            ? texureform[j][listdate]
            : this.publicdata.formatDate(texureform[j][listdate], "/");
      }
      this.tableData = texureform;
      this.tabHead = [];
      for (let i in Object.keys(this.tableData[0])) {
        this.tabHead.push({
          label: Object.keys(this.tableData[0])[i],
          prop: Object.keys(this.tableData[0])[i]
        });
      }
      //重写数据
      let mastername = "维修师傅";
      for (let i in this.tableData) {
        //组装数据，备用
        let ai = this.tableData[i];
        if (!this.selectarr[ai[mastername]]) {
          this.selectarr[ai[mastername]] = [];
        }
        let namearr = Object.keys(this.selectarr);
        for (let k in namearr) {
          if (ai[mastername] == namearr[k]) {
            this.selectarr[ai[mastername]].push(ai);
          }
        }
      }
    },
    uploaddata() {
      let loading = this.$loading({
        lock: true,
        text: "拼命更新中........",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      let listno = "维修单号";
      let listdate = "单据日期";
      let listmoney = "收款金额";
      let belong = "属地";
      let pusharray = [];
      for (let i in this.tableData) {
        pusharray.push({
          listno: this.tableData[i][listno],
          recdate: this.tableData[i][listdate],
          money: this.tableData[i][listmoney],
          belong: this.tableData[i][belong]
        });
      }
      let date = {
        datastr: JSON.stringify(pusharray)
      };
      let uploadurl =
        this.publicdata.urllist.fileDownload +
        "accountdatatableimport" +
        "&city=" +
        this.city;
      Axios.post(uploadurl, this.publicdata.transformRequest(date), {
        headers: { "Content-Type": "application/x-www-form-urlencoded" }
      })
        .then(response => {
          console.log(response);
          loading.close();
          this.$message({
            message: "更新成功",
            type: "success"
          });
        })
        .catch(error => {
          console.log(err);
        });
    }
  }
};
</script>

