<template>
  <div>
    <el-form :inline="true">
      <el-form-item>
        <el-date-picker v-model="relookll.starttime" type="date" placeholder="开始日期"></el-date-picker>
        <el-date-picker v-model="relookll.endtime" type="date" placeholder="结束日期"></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="relooking">预览</el-button>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="downLoad">下载文件</el-button>
      </el-form-item>
    </el-form>
    <el-progress
      :text-inside="true"
      :stroke-width="16"
      :percentage="this.progress"
      v-show="showpress"
    ></el-progress>
    <el-button size="small" @click="selectAll">全部</el-button>
    <template v-for="(item,index) of relookname">
      <el-button size="small" @click="selectRelookform(item, index)">{{item}}</el-button>
    </template>
    <formPaginAtion :formdata="this.relookData" :formhead="this.relookHeader"></formPaginAtion>
  </div>
</template>
<script>
import Axios from "axios";
import formPaginAtion from "../../formPaginAtion";
export default {
  props: { city: "" },
  components: { formPaginAtion },
  data() {
    return {
      filebooln: false, //用来判断计时器是否执行
      showpress: false, //判断进度条是否消失
      filename: "",
      timer: null,
      progress: 0,
      relookll: {
        starttime: "",
        endtime: ""
      },
      relookData: [],
      relookHeader: [],
      relookname: [],
      relookingresponsedate: [],
      down: {
        starttime: "",
        endtime: ""
      }
    };
  },
  methods: {
    timeBar() {
      if (!this.filebooln) {
        let timebarUrl =
          this.publicdata.urllist.downloadBar + "reportprocessline";
        let date = {
          reportname: this.filename
        };
        let _this = this;
        this.timer = setInterval(() => {
          Axios.post(timebarUrl, _this.publicdata.transformRequest(date), {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          })
            .then(response => {
              if (response.data != "") {
                let stringBar = response.data.split(" ")[0];
                let perSan = stringBar.split("/");
                _this.progress = Number(
                  ((perSan[0] / perSan[1]) * 100).toFixed(2)
                );
                console.log(_this.progress, "--123");
              }
            })
            .catch(error => {
              console.log(err);
            });
        }, 1000);
      } else {
        return;
      }
    },
    downLoad() {
      this.showpress = true;
      this.filebooln = false;
      this.progress = 0;
      let timeState = Date.parse(new Date());
      this.filename = "广分提成表" + timeState;
      let date = {
        starttime: this.publicdata.getdatetime(this.relookll.starttime),
        endtime: this.publicdata.getdatetime(this.relookll.endtime),
        filename: this.filename
      };
      let api =
        this.publicdata.urllist.fileDownload +
        "moneycalculatereport" +
        "&city=" +
        this.city;
      this.timeBar();
      Axios.post(api, this.publicdata.transformRequest(date), {
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        responseType: "blob"
      })
        .then(res => {
          this.filebooln = true;
          this.showpress = false;
          clearInterval(this.timer);
          this.timer = null;
          let data = res.data;
          let href = window.URL.createObjectURL(
            new Blob([data], {
              type:
                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
            })
          );
          let link = document.createElement("a");
          link.style.display = "none";
          link.href = href;
          link.setAttribute("download", date.filename + ".xlsx");
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          window.URL.revokeObjectURL(href); //释放掉blob对象
          this.$alert("<strong>恭喜你，报表已经下载完成</strong>", "提示信息", {
            dangerouslyUseHTMLString: true
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    relooking() {
      let urlstage =
        this.publicdata.urllist.fileDownload +
        "moneycalculate" +
        "&city=" +
        this.city;
      let date = {
        starttime: this.publicdata.getdatetime(this.relookll.starttime),
        endtime: this.publicdata.getdatetime(this.relookll.endtime)
      };
      console.log(this.city, "----");
      // this.publicdata.axioscomplate(urlstage,'POST',this.publicdata.transformRequest(date));
      Axios.post(urlstage, this.publicdata.transformRequest(date), {
        headers: { "Content-Type": "application/x-www-form-urlencoded" }
      })
        .then(response => {
          this.relookingresponsedate = response.data; //数据
          // this.relookname = Object.keys(response.data);名字,可能拿到键值对作为选择
          let texureData = response.data;
          let nametexure = [];
          console.log(texureData);

          for (let i in texureData) {
            for (let j in texureData[i]) {
              if (
                (texureData[i][j].repairman != null ||
                  texureData[i][j].repairman != "") &&
                nametexure.indexOf(texureData[i][j].repairman) == -1
              ) {
                nametexure.push(texureData[i][j].repairman);
              }
            }
          }
          this.relookname = nametexure;
        })
        .catch(error => {
          console.log(err);
        });
    },
    selectAll() {
      let texureform = [];
      for (let i in this.relookingresponsedate) {
        for (let j in this.relookingresponsedate[i]) {
          let timetrans = this.relookingresponsedate[i][j].finisheddate.match(
            /\(([^)]*)\)/
          );
          if (timetrans != null) {
            let timeStringAll = this.publicdata.timeformtransform(
              timetrans[1],
              1
            );
            this.relookingresponsedate[i][j].finisheddate = timeStringAll;
          }
          texureform.push(this.relookingresponsedate[i][j]);
        }
        this.relookData = texureform;
        this.relookHeader = this.publicdata.formtemplateHeader;
      }
      console.log(this.relookingresponsedate, texureform);
      this.relookData = texureform;
      this.relookHeader = this.publicdata.formtemplateHeader;
    },
    selectRelookform(item, index) {
      let arr = this.relookingresponsedate[index];
      for (let i in this.relookingresponsedate[index]) {
        let selectString = this.relookingresponsedate[index][
          i
        ].finisheddate.match(/\(([^)]*)\)/);
        if (selectString != null) {
          let timeString = this.publicdata.timeformtransform(
            selectString[1],
            1
          );
          this.relookingresponsedate[index][i].finisheddate = timeString;
        }
      }
      this.relookData = this.relookingresponsedate[index];
      this.relookHeader = this.publicdata.formtemplateHeader;
    }
  }
};
</script>
<style>
.el-progress-bar__outer {
  width: 50%;
}
</style>

