<template>
  <div id="app" @click="clicked">
    <transition name="fade" mode="out-in">
      <router-view v-if="isRouterAlive"></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "app",
  provide() {
    return {
      reload: this.reload
    };
  },
  data() {
    return {
      isRouterAlive: true,
      lTime: new Date().getTime(), //最后一次点击的时间
      cTime: new Date().getTime(), //当前时间
      tOut: 10 * 60 * 1000 //超出时间10min
    };
  },
  components: {},
  mounted() {
    window.setInterval(this.tTime, 1000);
  },
  methods: {
    reload() {
      this.isRouterAlive = false;
      this.$nextTick(function() {
        this.isRouterAlive = true;
      });
    },
    clicked() {
      this.lTime = new Date().getTime(); //当界面被点击更新点击时间
    },
    tTime() {
      this.cTime = new Date().getTime();
      if (this.cTime - this.lTime > this.tOut) {
        console.log("页面进行刷新");
        window.location.reload(); //页面刷新 这里也可以退出登录
      }
    }
  }
};
</script>

<style lang="scss">
body {
  margin: 0px;
  padding: 0px;
  /*background: url(assets/bg1.jpg) center !important;
		background-size: cover;*/
  // background: #1F2D3D;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  background-image: url("../src/assets/loginBg.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover; /* 兼容Webkit内核浏览器如Chrome和Safari */
  -o-background-size: cover; /* 兼容Opera */
}

#app {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;

  // width: 100%;
  // height: 100%;
  // background-image: url("./assets/loginBg.jpg");
  // background-position: center 0;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  // -webkit-background-size: cover; /* 兼容Webkit内核浏览器如Chrome和Safari */
  // -o-background-size: cover; /* 兼容Opera */
}
.el-submenu [class^="fa"] {
  vertical-align: baseline;
  margin-right: 10px;
}

.el-menu-item [class^="fa"] {
  vertical-align: baseline;
  margin-right: 10px;
}

.toolbar {
  background: #f2f2f2;
  padding: 10px;
  //border:1px solid #dfe6ec;
  margin: 10px 0px;
  .el-form-item {
    margin-bottom: 10px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>